force-app/main/default/flows/AP_Expense_Report_Status_Update_Process.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>invocableContextErrorEmail</name>
        <label>Context Error Email</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Your Process Failed to Execute</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <stringValue>The AP_Expense_Report_Status_Update_Process-1 invocable process failed to start because no records in your org match the record Id specified. In the entities that invoke AP_Expense_Report_Status_Update_Process-1, such as other processes, check the value for this input: SObjectId.</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <stringValue>rshore@g100companies.com</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>invocableSObjectErrorEmail</name>
        <label>SObject Or Id Error Email</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Your Process Failed to Execute</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <stringValue>The AP_Expense_Report_Status_Update_Process-1 invocable process failed to start because a valid value wasn&apos;t found. This can happen when entities that invoke AP_Expense_Report_Status_Update_Process-1, such as other processes, don&apos;t have values for either the SObject or SObjectId. For example: 
-An SObject or SObject ID wasn&apos;t specified.
-A value might have been included, but it was null at runtime. </stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <stringValue>rshore@g100companies.com</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <assignments>
        <name>myVariable_waitStartTimeAssignment</name>
        <label>myVariable_waitStartTimeAssignment</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>myVariable_waitStartTimeVariable</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>sobjectInputCheckDecision</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>invocableContextCheckDecision</name>
        <label>Context Check Decision</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>invocableContextErrorEmail</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>invocableContextCheckRule</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SObject</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myDecision</targetReference>
            </connector>
            <label>SObject Context Record Found</label>
        </rules>
    </decisions>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision</name>
        <label>myDecision</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_1</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_1_A1</targetReference>
            </connector>
            <label>GO!</label>
        </rules>
    </decisions>
    <decisions>
        <name>sobjectInputCheckDecision</name>
        <label>SObject Input Check Decision</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>invocableSObjectErrorEmail</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>sobjectInputCheckRule</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SObject</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myDecision</targetReference>
            </connector>
            <label>SObject Not Null</label>
        </rules>
        <rules>
            <name>sobjectIdInputCheckRule</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SObjectId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myInvocableContextRecordLookup</targetReference>
            </connector>
            <label>SObject Id Not Null</label>
        </rules>
    </decisions>
    <description>Updates the status of expense reports that are passed from FFA to PSA.</description>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>AND(
ISPICKVAL([pse__Expense__c].pse__Expense_Report__c.pse__Status__c, &quot;Draft&quot;), 
([pse__Expense__c].pse__Expense_Report__c.pse__Submitted__c = FALSE), 
([pse__Expense__c].pse__Expense_Report__c.pse__Approved__c = FALSE)) </stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_1</name>
        <dataType>Boolean</dataType>
        <expression>AND(
ISPICKVAL({!SObject.pse__Expense_Report__c.pse__Status__c}, &quot;Draft&quot;), 
({!SObject.pse__Expense_Report__c.pse__Submitted__c} = FALSE), 
({!SObject.pse__Expense_Report__c.pse__Approved__c} = FALSE))</expression>
    </formulas>
    <interviewLabel>AP_Expense_Report_Status_Update_Process-1_pse__Expense__c</interviewLabel>
    <label>AP - Expense Report Status Update Process</label>
    <processMetadataValues>
        <name>ObjectType</name>
        <value>
            <stringValue>pse__Expense__c</stringValue>
        </value>
    </processMetadataValues>
    <processType>InvocableProcess</processType>
    <recordLookups>
        <name>myInvocableContextRecordLookup</name>
        <label>myInvocableContextRecordLookup</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>invocableContextCheckDecision</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>SObjectId</elementReference>
            </value>
        </filters>
        <object>pse__Expense__c</object>
        <outputReference>SObject</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>OwnerId</queriedFields>
        <queriedFields>IsDeleted</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>CurrencyIsoCode</queriedFields>
        <queriedFields>CreatedDate</queriedFields>
        <queriedFields>CreatedById</queriedFields>
        <queriedFields>LastModifiedDate</queriedFields>
        <queriedFields>LastModifiedById</queriedFields>
        <queriedFields>SystemModstamp</queriedFields>
        <queriedFields>LastViewedDate</queriedFields>
        <queriedFields>LastReferencedDate</queriedFields>
        <queriedFields>pse__Admin_Global_Edit__c</queriedFields>
        <queriedFields>pse__Amount_To_Bill__c</queriedFields>
        <queriedFields>pse__Amount_To_Reimburse__c</queriedFields>
        <queriedFields>pse__Amount__c</queriedFields>
        <queriedFields>pse__Approved__c</queriedFields>
        <queriedFields>pse__Approved_for_Billing__c</queriedFields>
        <queriedFields>pse__Approved_for_Vendor_Payment__c</queriedFields>
        <queriedFields>pse__Assignment__c</queriedFields>
        <queriedFields>pse__Audit_Notes__c</queriedFields>
        <queriedFields>pse__Bill_Date__c</queriedFields>
        <queriedFields>pse__Bill_Transaction__c</queriedFields>
        <queriedFields>pse__Billable_Amount__c</queriedFields>
        <queriedFields>pse__Billable_Fee_Flat_Amount__c</queriedFields>
        <queriedFields>pse__Billable_Fee_Flat__c</queriedFields>
        <queriedFields>pse__Billable_Fee_Percentage__c</queriedFields>
        <queriedFields>pse__Billable__c</queriedFields>
        <queriedFields>pse__Billed__c</queriedFields>
        <queriedFields>pse__Billing_Amount_Pre_Fee_Subtotal__c</queriedFields>
        <queriedFields>pse__Billing_Amount__c</queriedFields>
        <queriedFields>pse__Billing_Currency__c</queriedFields>
        <queriedFields>pse__Billing_Event_Invoiced__c</queriedFields>
        <queriedFields>pse__Billing_Event_Item__c</queriedFields>
        <queriedFields>pse__Billing_Event_Released__c</queriedFields>
        <queriedFields>pse__Billing_Event_Status__c</queriedFields>
        <queriedFields>pse__Billing_Event__c</queriedFields>
        <queriedFields>pse__Billing_Hold__c</queriedFields>
        <queriedFields>pse__Cost_Transaction__c</queriedFields>
        <queriedFields>pse__Description__c</queriedFields>
        <queriedFields>pse__Distance__c</queriedFields>
        <queriedFields>pse__Eligible_for_Billing__c</queriedFields>
        <queriedFields>pse__Exchange_Rate_Billing_Currency__c</queriedFields>
        <queriedFields>pse__Exchange_Rate_Incurred_Currency__c</queriedFields>
        <queriedFields>pse__Exchange_Rate_Reimbursement_Currency__c</queriedFields>
        <queriedFields>pse__Exchange_Rate_Resource_Defined__c</queriedFields>
        <queriedFields>pse__Exclude_from_Billing__c</queriedFields>
        <queriedFields>pse__Expense_Date__c</queriedFields>
        <queriedFields>pse__Expense_Report__c</queriedFields>
        <queriedFields>pse__Expense_Split_Parent__c</queriedFields>
        <queriedFields>pse__Include_In_Financials__c</queriedFields>
        <queriedFields>pse__Incurred_Tax_Non_Billable__c</queriedFields>
        <queriedFields>pse__Incurred_Tax__c</queriedFields>
        <queriedFields>pse__Invoice_Date__c</queriedFields>
        <queriedFields>pse__Invoice_Number__c</queriedFields>
        <queriedFields>pse__Invoice_Transaction__c</queriedFields>
        <queriedFields>pse__Invoiced__c</queriedFields>
        <queriedFields>pse__Milestone__c</queriedFields>
        <queriedFields>pse__Non_Billable_Amount__c</queriedFields>
        <queriedFields>pse__Non_Billable_Incurred_Amount__c</queriedFields>
        <queriedFields>pse__Non_Billable_Incurred_Subtotal__c</queriedFields>
        <queriedFields>pse__Non_Reimbursible__c</queriedFields>
        <queriedFields>pse__Notes__c</queriedFields>
        <queriedFields>pse__Override_Group_Currency_Code__c</queriedFields>
        <queriedFields>pse__Override_Group__c</queriedFields>
        <queriedFields>pse__Override_Practice_Currency_Code__c</queriedFields>
        <queriedFields>pse__Override_Practice__c</queriedFields>
        <queriedFields>pse__Override_Rate_Billing_Currency__c</queriedFields>
        <queriedFields>pse__Override_Rate_Incurred_Currency__c</queriedFields>
        <queriedFields>pse__Override_Rate_Reimbursement_Currency__c</queriedFields>
        <queriedFields>pse__Override_Region_Currency_Code__c</queriedFields>
        <queriedFields>pse__Override_Region__c</queriedFields>
        <queriedFields>pse__Project__c</queriedFields>
        <queriedFields>pse__Rate_Unit__c</queriedFields>
        <queriedFields>pse__Reimbursement_Amount_In_Project_Currency__c</queriedFields>
        <queriedFields>pse__Reimbursement_Amount__c</queriedFields>
        <queriedFields>pse__Reimbursement_Currency__c</queriedFields>
        <queriedFields>pse__Resource__c</queriedFields>
        <queriedFields>pse__Revenue_Transaction__c</queriedFields>
        <queriedFields>pse__Split_Expense__c</queriedFields>
        <queriedFields>pse__Split_Notes__c</queriedFields>
        <queriedFields>pse__Status__c</queriedFields>
        <queriedFields>pse__Submitted__c</queriedFields>
        <queriedFields>pse__Synchronous_Update_Required__c</queriedFields>
        <queriedFields>pse__Tax_Type__c</queriedFields>
        <queriedFields>pse__Type__c</queriedFields>
        <queriedFields>pse__Vendor_Invoice_Item__c</queriedFields>
        <queriedFields>ffpsai__NetValueCredit__c</queriedFields>
        <queriedFields>ffpsai__NetValue__c</queriedFields>
        <queriedFields>ffpsai__Process__c</queriedFields>
        <queriedFields>ffpsai__ReimbursementTaxCredit__c</queriedFields>
        <queriedFields>ffpsai__ReimbursementTax__c</queriedFields>
        <queriedFields>ffpsai__ServicesProduct__c</queriedFields>
        <queriedFields>Dimension1__c</queriedFields>
        <queriedFields>Dimension2__c</queriedFields>
        <queriedFields>ffrr_exp__RevenueRecognitionCompleted__c</queriedFields>
        <queriedFields>pse__Mobile_Expense_Reference__c</queriedFields>
        <queriedFields>pse__Project_Methodology__c</queriedFields>
        <queriedFields>pse__Project_Phase__c</queriedFields>
        <queriedFields>Report_Data_Capture_Date__c</queriedFields>
        <queriedFields>Case_Safe_ID__c</queriedFields>
        <queriedFields>pse__Lost_Receipt__c</queriedFields>
        <queriedFields>Unconverted_Amount__c</queriedFields>
        <queriedFields>Default_Expenses_Non_Billable__c</queriedFields>
        <queriedFields>Is_Intercompany__c</queriedFields>
        <queriedFields>Concur_Report_Entry_ID__c</queriedFields>
        <queriedFields>Ticket_Ref_No__c</queriedFields>
        <queriedFields>pse__Mobile_Expense_Reference_ID__c</queriedFields>
        <queriedFields>pse__Applied_Expense_Rate__c</queriedFields>
        <queriedFields>pse__Audit_Notes_History__c</queriedFields>
        <sortField>LastModifiedDate</sortField>
        <sortOrder>Desc</sortOrder>
    </recordLookups>
    <recordUpdates>
        <processMetadataValues>
            <name>evaluationType</name>
            <value>
                <stringValue>always</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>isChildRelationship</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>reference</name>
            <value>
                <stringValue>[pse__Expense__c].Expense Report</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_1_A1</name>
        <label>Update Related Expense Report</label>
        <locationX>100</locationX>
        <locationY>200</locationY>
        <filters>
            <processMetadataValues>
                <name>implicit</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </processMetadataValues>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>SObject.pse__Expense_Report__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>Boolean</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Admin Global Edit</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Boolean</stringValue>
                </value>
            </processMetadataValues>
            <field>pse__Admin_Global_Edit__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>Boolean</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Approved</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Boolean</stringValue>
                </value>
            </processMetadataValues>
            <field>pse__Approved__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Audit Notes</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <field>pse__Audit_Notes__c</field>
            <value>
                <stringValue>Passed from AP</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>Picklist</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Status</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Picklist</stringValue>
                </value>
            </processMetadataValues>
            <field>pse__Status__c</field>
            <value>
                <stringValue>Approved</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>Boolean</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Submitted</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Boolean</stringValue>
                </value>
            </processMetadataValues>
            <field>pse__Submitted__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>pse__Expense_Report__c</object>
    </recordUpdates>
    <startElementReference>myVariable_waitStartTimeAssignment</startElementReference>
    <status>Active</status>
    <variables>
        <name>myVariable_waitStartTimeVariable</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>$Flow.CurrentDateTime</elementReference>
        </value>
    </variables>
    <variables>
        <name>SObject</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>pse__Expense__c</objectType>
    </variables>
    <variables>
        <name>SObjectId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
