force-app/main/default/flows/Create_New_Contact.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>Assign_HLG_Region</name>
        <label>Assign HLG Region</label>
        <locationX>468</locationX>
        <locationY>258</locationY>
        <assignmentItems>
            <assignToReference>varContactRegion</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>HLG_Region</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Basic_Contact_Info</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_SSA_Region</name>
        <label>Assign SSA Region</label>
        <locationX>644</locationX>
        <locationY>258</locationY>
        <assignmentItems>
            <assignToReference>varContactRegion</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SSA_Region</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Basic_Contact_Info</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_TMG_Region</name>
        <label>Assign TMG Region</label>
        <locationX>816</locationX>
        <locationY>258</locationY>
        <assignmentItems>
            <assignToReference>varContactRegion</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>TMG_Region</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Basic_Contact_Info</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>High_Lantern_Group</name>
        <choiceText>High Lantern Group</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>Mr</name>
        <choiceText>Mr.</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>Ms</name>
        <choiceText>Ms.</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>SSA_Company</name>
        <choiceText>SSA &amp; Company</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>The_Miles_Group</name>
        <choiceText>The Miles Group</choiceText>
        <dataType>String</dataType>
    </choices>
    <constants>
        <name>HLG_Region</name>
        <dataType>String</dataType>
        <value>
            <stringValue>HLG</stringValue>
        </value>
    </constants>
    <constants>
        <name>psaRecordTypeId</name>
        <dataType>String</dataType>
        <value>
            <stringValue>012F0000000jGC5</stringValue>
        </value>
    </constants>
    <constants>
        <name>SSA_Region</name>
        <dataType>String</dataType>
        <value>
            <stringValue>SSA</stringValue>
        </value>
    </constants>
    <constants>
        <name>TMG_Region</name>
        <dataType>String</dataType>
        <value>
            <stringValue>TMG</stringValue>
        </value>
    </constants>
    <decisions>
        <name>Set_PSA_Contact_Region</name>
        <label>Set PSA Contact Region</label>
        <locationX>644</locationX>
        <locationY>147</locationY>
        <defaultConnectorLabel>None</defaultConnectorLabel>
        <rules>
            <name>HLG</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Business_Group</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>High_Lantern_Group</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_HLG_Region</targetReference>
            </connector>
            <label>HLG</label>
        </rules>
        <rules>
            <name>SSA</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Business_Group</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>SSA_Company</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_SSA_Region</targetReference>
            </connector>
            <label>SSA</label>
        </rules>
        <rules>
            <name>TMG</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Business_Group</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>The_Miles_Group</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_TMG_Region</targetReference>
            </connector>
            <label>TMG</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>Possible_Companies</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filters>
            <field>Name</field>
            <operator>Contains</operator>
            <value>
                <elementReference>Company_Name_Contains</elementReference>
            </value>
        </filters>
        <filters>
            <field>Type</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Vendor</stringValue>
            </value>
        </filters>
        <filters>
            <field>Type</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Employee</stringValue>
            </value>
        </filters>
        <object>Account</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>PSA_Resource</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>psaRecordTypeId</elementReference>
            </value>
        </filters>
        <filters>
            <field>pse__External_Resource__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>pse__Is_Resource_Active__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Contact</object>
        <sortField>FirstName</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <label>Create New Contact</label>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_New_Contact</name>
        <label>Create New Contact</label>
        <locationX>638</locationX>
        <locationY>614</locationY>
        <assignRecordIdToReference>varContactId</assignRecordIdToReference>
        <connector>
            <targetReference>Team_Member</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>Select_Account</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Email</field>
            <value>
                <elementReference>E_Mail</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FirstName</field>
            <value>
                <elementReference>First_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LastName</field>
            <value>
                <elementReference>Last_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Phone</field>
            <value>
                <elementReference>Phone</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Team_Member_Records</name>
        <label>Create Team Member Records</label>
        <locationX>632</locationX>
        <locationY>830</locationY>
        <inputAssignments>
            <field>Contact__c</field>
            <value>
                <elementReference>varContactId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Team_Member__c</field>
            <value>
                <elementReference>Primary</elementReference>
            </value>
        </inputAssignments>
        <object>Contact_Team__c</object>
    </recordCreates>
    <screens>
        <name>Basic_Contact_Info</name>
        <label>Basic Contact Info</label>
        <locationX>642</locationX>
        <locationY>380</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Select_Company</targetReference>
        </connector>
        <fields>
            <name>Salutation</name>
            <choiceReferences>Mr</choiceReferences>
            <choiceReferences>Ms</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Salutation</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>First_Name</name>
            <dataType>String</dataType>
            <fieldText>First Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Last_Name</name>
            <dataType>String</dataType>
            <fieldText>Last Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Company_Name_Contains</name>
            <dataType>String</dataType>
            <fieldText>Company Name Contains</fieldText>
            <fieldType>InputField</fieldType>
            <helpText>Enter keywords to perform fuzzy search of existing companies.</helpText>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>E_Mail</name>
            <dataType>String</dataType>
            <fieldText>E-Mail</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Phone</name>
            <dataType>String</dataType>
            <fieldText>Phone</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Business</name>
        <label>Business</label>
        <locationX>645</locationX>
        <locationY>33</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Set_PSA_Contact_Region</targetReference>
        </connector>
        <fields>
            <name>Business_Group</name>
            <choiceReferences>High_Lantern_Group</choiceReferences>
            <choiceReferences>SSA_Company</choiceReferences>
            <choiceReferences>The_Miles_Group</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Business Group</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Select_Company</name>
        <label>Select Company</label>
        <locationX>640</locationX>
        <locationY>497</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Create_New_Contact</targetReference>
        </connector>
        <fields>
            <name>Select_Account</name>
            <choiceReferences>Possible_Companies</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Select Account</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Team_Member</name>
        <label>Team Member</label>
        <locationX>637</locationX>
        <locationY>722</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Create_Team_Member_Records</targetReference>
        </connector>
        <fields>
            <name>Primary</name>
            <choiceReferences>PSA_Resource</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Primary</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Secondary</name>
            <choiceReferences>PSA_Resource</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Secondary</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Tertiary</name>
            <choiceReferences>PSA_Resource</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Tertiary</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <startElementReference>Business</startElementReference>
    <status>InvalidDraft</status>
    <steps>
        <description>Decision to determine if values are null or not, then record creates</description>
        <name>Check_for_nulls</name>
        <label>Check for nulls</label>
        <locationX>789</locationX>
        <locationY>789</locationY>
    </steps>
    <steps>
        <description>Need option to create new Company if doesn&apos;t exist.  Call sub-flow</description>
        <name>Create_New_Company</name>
        <label>Create New Company</label>
        <locationX>796</locationX>
        <locationY>562</locationY>
    </steps>
    <variables>
        <name>varContactId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varContactRegion</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varRegionIDs</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>pse__Region__c</objectType>
    </variables>
    <variables>
        <name>varTeamMemberId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
