force-app/main/default/flows/Mid_Year_Utilization_Rating_Update.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision</name>
        <label>myDecision</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_1</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_1_A1</targetReference>
            </connector>
            <label>Utilization Rating Not Blank</label>
        </rules>
    </decisions>
    <description>Consolidates all Mid Year Utilization Rating Formula Fields.</description>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>[Mid_Year_Review__c].MD_Rating_Value_Weighted__c + [Mid_Year_Review__c].PL_Rating_Value_Weighted__c </stringValue>
            </value>
        </processMetadataValues>
        <name>formula_2_myRule_1_A3_4466500882</name>
        <dataType>Number</dataType>
        <expression>{!myVariable_current.MD_Rating_Value_Weighted__c} + {!myVariable_current.PL_Rating_Value_Weighted__c}</expression>
        <scale>18</scale>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>IF(AND([Mid_Year_Review__c].RecordTypeId =
 &quot;0122A000001USnsQAG&quot; , [Mid_Year_Review__c].SD_VP_STATIC__c = FALSE), [Mid_Year_Review__c].PL_Rating_Value_Weighted__c - [Mid_Year_Review__c].Self_Rating_Value_Weighted__c,

IF(AND([Mid_Year_Review__c].RecordTypeId =
 &quot;0122A000001USnsQAG&quot; , [Mid_Year_Review__c].SD_VP_STATIC__c = TRUE), [Mid_Year_Review__c].MD_Rating_Value_Weighted__c - [Mid_Year_Review__c].Self_Rating_Value_Weighted__c,

IF([Mid_Year_Review__c].RecordTypeId =
 &quot;0122A000001USuPQAW&quot;, [Mid_Year_Review__c].MD_Rating_Value_Weighted__c  - [Mid_Year_Review__c].Self_Rating_Value_Weighted__c,

IF([Mid_Year_Review__c].RecordTypeId =
 &quot;0122A000001USnxQAG&quot;,  [Mid_Year_Review__c].MD_Rating_Value_Weighted__c  - [Mid_Year_Review__c].Self_Rating_Value_Weighted__c, 
 [Mid_Year_Review__c].MD_Rating_Value_Weighted__c  - [Mid_Year_Review__c].Self_Rating_Value_Weighted__c))))
</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_3_myRule_1_A2_2819953063</name>
        <dataType>Number</dataType>
        <expression>IF(AND({!myVariable_current.RecordTypeId} =
 &quot;0122A000001USnsQAG&quot; , {!myVariable_current.SD_VP_STATIC__c} = FALSE), {!myVariable_current.PL_Rating_Value_Weighted__c} - {!myVariable_current.Self_Rating_Value_Weighted__c},

IF(AND({!myVariable_current.RecordTypeId} =
 &quot;0122A000001USnsQAG&quot; , {!myVariable_current.SD_VP_STATIC__c} = TRUE), {!myVariable_current.MD_Rating_Value_Weighted__c} - {!myVariable_current.Self_Rating_Value_Weighted__c},

IF({!myVariable_current.RecordTypeId} =
 &quot;0122A000001USuPQAW&quot;, {!myVariable_current.MD_Rating_Value_Weighted__c}  - {!myVariable_current.Self_Rating_Value_Weighted__c},

IF({!myVariable_current.RecordTypeId} =
 &quot;0122A000001USnxQAG&quot;,  {!myVariable_current.MD_Rating_Value_Weighted__c}  - {!myVariable_current.Self_Rating_Value_Weighted__c}, 
 {!myVariable_current.MD_Rating_Value_Weighted__c}  - {!myVariable_current.Self_Rating_Value_Weighted__c}))))</expression>
        <scale>18</scale>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>[Mid_Year_Review__c].AC_Utilization_Rating__c + [Mid_Year_Review__c].AD_Utilization_Rating__c + [Mid_Year_Review__c].D_Utilization_Rating__c  + [Mid_Year_Review__c].VP_Utilization_Rating__c + 
[Mid_Year_Review__c].SD_Utilization_Rating__c  + [Mid_Year_Review__c].SD_PO_Utilization_Rating__c +
[Mid_Year_Review__c].D_Utilization_Rating_PDO__c  + [Mid_Year_Review__c].VP_Utilization_Rating_PDO__c </stringValue>
            </value>
        </processMetadataValues>
        <name>formula_4_myRule_1_A1_3195963598</name>
        <dataType>Number</dataType>
        <expression>{!myVariable_current.AC_Utilization_Rating__c} + {!myVariable_current.AD_Utilization_Rating__c} + {!myVariable_current.D_Utilization_Rating__c}  + {!myVariable_current.VP_Utilization_Rating__c} + 
{!myVariable_current.SD_Utilization_Rating__c}  + {!myVariable_current.SD_PO_Utilization_Rating__c} +
{!myVariable_current.D_Utilization_Rating_PDO__c}  + {!myVariable_current.VP_Utilization_Rating_PDO__c}</expression>
        <scale>18</scale>
    </formulas>
    <formulas>
        <name>formula_myRule_1</name>
        <dataType>Boolean</dataType>
        <expression>true</expression>
    </formulas>
    <interviewLabel>Mid_Year_Utilization_Rating_Update-9_InterviewLabel</interviewLabel>
    <label>Mid-Year Utilization Ratings Update</label>
    <processMetadataValues>
        <name>ObjectType</name>
        <value>
            <stringValue>Mid_Year_Review__c</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>ObjectVariable</name>
        <value>
            <elementReference>myVariable_current</elementReference>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OldObjectVariable</name>
        <value>
            <elementReference>myVariable_old</elementReference>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>RecursiveCountVariable</name>
        <value>
            <elementReference>RecursiveCountVariable</elementReference>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>TriggerType</name>
        <value>
            <stringValue>onAllChanges</stringValue>
        </value>
    </processMetadataValues>
    <processType>Workflow</processType>
    <recordUpdates>
        <processMetadataValues>
            <name>evaluationType</name>
            <value>
                <stringValue>criteria</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>extraTypeInfo</name>
        </processMetadataValues>
        <processMetadataValues>
            <name>isChildRelationship</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>reference</name>
            <value>
                <stringValue>[Mid_Year_Review__c]</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>referenceTargetField</name>
        </processMetadataValues>
        <name>myRule_1_A1</name>
        <label>Update Utilization Rating</label>
        <locationX>100</locationX>
        <locationY>200</locationY>
        <connector>
            <targetReference>myRule_1_A2</targetReference>
        </connector>
        <filters>
            <processMetadataValues>
                <name>implicit</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>inputDataType</name>
                <value>
                    <stringValue>ID</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Created By ID</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue>User</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideType</name>
                <value>
                    <stringValue>ID</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>operatorDataType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>ID</stringValue>
                </value>
            </processMetadataValues>
            <field>CreatedById</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>005F0000007fFMD</stringValue>
            </value>
        </filters>
        <filters>
            <processMetadataValues>
                <name>implicit</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>inputDataType</name>
                <value>
                    <stringValue>ID</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Created By ID</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue>User</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideType</name>
                <value>
                    <stringValue>ID</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>operatorDataType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>ID</stringValue>
                </value>
            </processMetadataValues>
            <field>CreatedById</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>0052A000009xinW</stringValue>
            </value>
        </filters>
        <filters>
            <processMetadataValues>
                <name>implicit</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </processMetadataValues>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>Number</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Utilization Rating</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <field>Utilization_Rating__c</field>
            <value>
                <elementReference>formula_4_myRule_1_A1_3195963598</elementReference>
            </value>
        </inputAssignments>
        <object>Mid_Year_Review__c</object>
    </recordUpdates>
    <recordUpdates>
        <processMetadataValues>
            <name>evaluationType</name>
            <value>
                <stringValue>always</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>extraTypeInfo</name>
        </processMetadataValues>
        <processMetadataValues>
            <name>isChildRelationship</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>reference</name>
            <value>
                <stringValue>[Mid_Year_Review__c]</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>referenceTargetField</name>
        </processMetadataValues>
        <name>myRule_1_A2</name>
        <label>Update Delta</label>
        <locationX>100</locationX>
        <locationY>300</locationY>
        <connector>
            <targetReference>myRule_1_A3</targetReference>
        </connector>
        <filters>
            <processMetadataValues>
                <name>implicit</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </processMetadataValues>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>Number</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Delta</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <field>Delta__c</field>
            <value>
                <elementReference>formula_3_myRule_1_A2_2819953063</elementReference>
            </value>
        </inputAssignments>
        <object>Mid_Year_Review__c</object>
    </recordUpdates>
    <recordUpdates>
        <processMetadataValues>
            <name>evaluationType</name>
            <value>
                <stringValue>always</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>extraTypeInfo</name>
        </processMetadataValues>
        <processMetadataValues>
            <name>isChildRelationship</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>reference</name>
            <value>
                <stringValue>[Mid_Year_Review__c]</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>referenceTargetField</name>
        </processMetadataValues>
        <name>myRule_1_A3</name>
        <label>Update Manager Weighted Rating</label>
        <locationX>100</locationX>
        <locationY>400</locationY>
        <filters>
            <processMetadataValues>
                <name>implicit</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </processMetadataValues>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>Number</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Manager Rating Value Weighted</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <field>Manager_Rating_Value_Weighted__c</field>
            <value>
                <elementReference>formula_2_myRule_1_A3_4466500882</elementReference>
            </value>
        </inputAssignments>
        <object>Mid_Year_Review__c</object>
    </recordUpdates>
    <startElementReference>myDecision</startElementReference>
    <status>Active</status>
    <variables>
        <name>myVariable_current</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Mid_Year_Review__c</objectType>
    </variables>
    <variables>
        <name>myVariable_old</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Mid_Year_Review__c</objectType>
    </variables>
    <variables>
        <name>RecursiveCountVariable</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
</Flow>
