force-app/main/default/flows/Milestone_Complete_Update.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>myVariable_waitStartTimeAssignment</name>
        <label>myVariable_waitStartTimeAssignment</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>myVariable_waitStartTimeVariable</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>myDecision</targetReference>
        </connector>
    </assignments>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision</name>
        <label>myDecision</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_1</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_1_A1</targetReference>
            </connector>
            <label>Milestone Schedule is Present</label>
        </rules>
    </decisions>
    <description>Updates the Milestone % Complete field if there is a schedule present.</description>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>(IF([pse__Milestone__c].Milestone_Date_Difference__c &lt;= 0, 0.00,
	IF([pse__Milestone__c].Milestone_Date_Difference__c = 1, ([pse__Milestone__c].Month_1__c),
		IF([pse__Milestone__c].Milestone_Date_Difference__c = 2, ([pse__Milestone__c].Month_1__c + [pse__Milestone__c].Month_2__c), 
			IF([pse__Milestone__c].Milestone_Date_Difference__c = 3, ([pse__Milestone__c].Month_1__c + [pse__Milestone__c].Month_2__c + [pse__Milestone__c].Month_3__c),
				IF([pse__Milestone__c].Milestone_Date_Difference__c = 4, ([pse__Milestone__c].Month_1__c + [pse__Milestone__c].Month_2__c + [pse__Milestone__c].Month_3__c + [pse__Milestone__c].Month_4__c), 
					IF([pse__Milestone__c].Milestone_Date_Difference__c = 5, ([pse__Milestone__c].Month_1__c + [pse__Milestone__c].Month_2__c + [pse__Milestone__c].Month_3__c + [pse__Milestone__c].Month_4__c + [pse__Milestone__c].Month_5__c), 
						IF([pse__Milestone__c].Milestone_Date_Difference__c = 6, ([pse__Milestone__c].Month_1__c + [pse__Milestone__c].Month_2__c + [pse__Milestone__c].Month_3__c + [pse__Milestone__c].Month_4__c + [pse__Milestone__c].Month_5__c + [pse__Milestone__c].Month_6__c), 
							IF([pse__Milestone__c].Milestone_Date_Difference__c = 7, ([pse__Milestone__c].Month_1__c + [pse__Milestone__c].Month_2__c + [pse__Milestone__c].Month_3__c + [pse__Milestone__c].Month_4__c + [pse__Milestone__c].Month_5__c + [pse__Milestone__c].Month_6__c + [pse__Milestone__c].Month_7__c), 
								IF([pse__Milestone__c].Milestone_Date_Difference__c = 8, ([pse__Milestone__c].Month_1__c + [pse__Milestone__c].Month_2__c + [pse__Milestone__c].Month_3__c + [pse__Milestone__c].Month_4__c + [pse__Milestone__c].Month_5__c + [pse__Milestone__c].Month_6__c + [pse__Milestone__c].Month_7__c + [pse__Milestone__c].Month_8__c), 
									IF([pse__Milestone__c].Milestone_Date_Difference__c = 9, ([pse__Milestone__c].Month_1__c + [pse__Milestone__c].Month_2__c + [pse__Milestone__c].Month_3__c + [pse__Milestone__c].Month_4__c + [pse__Milestone__c].Month_5__c + [pse__Milestone__c].Month_6__c + [pse__Milestone__c].Month_7__c + [pse__Milestone__c].Month_8__c + [pse__Milestone__c].Month_9__c), 
										IF([pse__Milestone__c].Milestone_Date_Difference__c = 10, ([pse__Milestone__c].Month_1__c + [pse__Milestone__c].Month_2__c + [pse__Milestone__c].Month_3__c + [pse__Milestone__c].Month_4__c + [pse__Milestone__c].Month_5__c + [pse__Milestone__c].Month_6__c + [pse__Milestone__c].Month_7__c + [pse__Milestone__c].Month_8__c + [pse__Milestone__c].Month_9__c + [pse__Milestone__c].Month_10__c),
											IF([pse__Milestone__c].Milestone_Date_Difference__c = 11, ([pse__Milestone__c].Month_1__c + [pse__Milestone__c].Month_2__c + [pse__Milestone__c].Month_3__c + [pse__Milestone__c].Month_4__c + [pse__Milestone__c].Month_5__c + [pse__Milestone__c].Month_6__c + [pse__Milestone__c].Month_7__c + [pse__Milestone__c].Month_8__c + [pse__Milestone__c].Month_9__c + [pse__Milestone__c].Month_10__c + [pse__Milestone__c].Month_11__c),
												IF([pse__Milestone__c].Milestone_Date_Difference__c &gt;= 12, ([pse__Milestone__c].Month_1__c + [pse__Milestone__c].Month_2__c + [pse__Milestone__c].Month_3__c + [pse__Milestone__c].Month_4__c + [pse__Milestone__c].Month_5__c + [pse__Milestone__c].Month_6__c + [pse__Milestone__c].Month_7__c + [pse__Milestone__c].Month_8__c + [pse__Milestone__c].Month_9__c + [pse__Milestone__c].Month_10__c + [pse__Milestone__c].Month_11__c + [pse__Milestone__c].Month_12__c), NULL)	
											)
										)
									)
								)
							)
						)
					)
				)
			)
		)
	)
))</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_2_myRule_1_A1_PercentComplete_c</name>
        <dataType>Number</dataType>
        <expression>(IF({!myVariable_current.Milestone_Date_Difference__c} &lt;= 0, 0.00,
	IF({!myVariable_current.Milestone_Date_Difference__c} = 1, ({!myVariable_current.Month_1__c}),
		IF({!myVariable_current.Milestone_Date_Difference__c} = 2, ({!myVariable_current.Month_1__c} + {!myVariable_current.Month_2__c}), 
			IF({!myVariable_current.Milestone_Date_Difference__c} = 3, ({!myVariable_current.Month_1__c} + {!myVariable_current.Month_2__c} + {!myVariable_current.Month_3__c}),
				IF({!myVariable_current.Milestone_Date_Difference__c} = 4, ({!myVariable_current.Month_1__c} + {!myVariable_current.Month_2__c} + {!myVariable_current.Month_3__c} + {!myVariable_current.Month_4__c}), 
					IF({!myVariable_current.Milestone_Date_Difference__c} = 5, ({!myVariable_current.Month_1__c} + {!myVariable_current.Month_2__c} + {!myVariable_current.Month_3__c} + {!myVariable_current.Month_4__c} + {!myVariable_current.Month_5__c}), 
						IF({!myVariable_current.Milestone_Date_Difference__c} = 6, ({!myVariable_current.Month_1__c} + {!myVariable_current.Month_2__c} + {!myVariable_current.Month_3__c} + {!myVariable_current.Month_4__c} + {!myVariable_current.Month_5__c} + {!myVariable_current.Month_6__c}), 
							IF({!myVariable_current.Milestone_Date_Difference__c} = 7, ({!myVariable_current.Month_1__c} + {!myVariable_current.Month_2__c} + {!myVariable_current.Month_3__c} + {!myVariable_current.Month_4__c} + {!myVariable_current.Month_5__c} + {!myVariable_current.Month_6__c} + {!myVariable_current.Month_7__c}), 
								IF({!myVariable_current.Milestone_Date_Difference__c} = 8, ({!myVariable_current.Month_1__c} + {!myVariable_current.Month_2__c} + {!myVariable_current.Month_3__c} + {!myVariable_current.Month_4__c} + {!myVariable_current.Month_5__c} + {!myVariable_current.Month_6__c} + {!myVariable_current.Month_7__c} + {!myVariable_current.Month_8__c}), 
									IF({!myVariable_current.Milestone_Date_Difference__c} = 9, ({!myVariable_current.Month_1__c} + {!myVariable_current.Month_2__c} + {!myVariable_current.Month_3__c} + {!myVariable_current.Month_4__c} + {!myVariable_current.Month_5__c} + {!myVariable_current.Month_6__c} + {!myVariable_current.Month_7__c} + {!myVariable_current.Month_8__c} + {!myVariable_current.Month_9__c}), 
										IF({!myVariable_current.Milestone_Date_Difference__c} = 10, ({!myVariable_current.Month_1__c} + {!myVariable_current.Month_2__c} + {!myVariable_current.Month_3__c} + {!myVariable_current.Month_4__c} + {!myVariable_current.Month_5__c} + {!myVariable_current.Month_6__c} + {!myVariable_current.Month_7__c} + {!myVariable_current.Month_8__c} + {!myVariable_current.Month_9__c} + {!myVariable_current.Month_10__c}),
											IF({!myVariable_current.Milestone_Date_Difference__c} = 11, ({!myVariable_current.Month_1__c} + {!myVariable_current.Month_2__c} + {!myVariable_current.Month_3__c} + {!myVariable_current.Month_4__c} + {!myVariable_current.Month_5__c} + {!myVariable_current.Month_6__c} + {!myVariable_current.Month_7__c} + {!myVariable_current.Month_8__c} + {!myVariable_current.Month_9__c} + {!myVariable_current.Month_10__c} + {!myVariable_current.Month_11__c}),
												IF({!myVariable_current.Milestone_Date_Difference__c} &gt;= 12, ({!myVariable_current.Month_1__c} + {!myVariable_current.Month_2__c} + {!myVariable_current.Month_3__c} + {!myVariable_current.Month_4__c} + {!myVariable_current.Month_5__c} + {!myVariable_current.Month_6__c} + {!myVariable_current.Month_7__c} + {!myVariable_current.Month_8__c} + {!myVariable_current.Month_9__c} + {!myVariable_current.Month_10__c} + {!myVariable_current.Month_11__c} + {!myVariable_current.Month_12__c}), NULL)	
											)
										)
									)
								)
							)
						)
					)
				)
			)
		)
	)
))</expression>
        <scale>18</scale>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>OR(
(NOT(ISNULL([pse__Milestone__c].Month_1__c))),
(NOT(ISNULL([pse__Milestone__c].Month_2__c))),
(NOT(ISNULL([pse__Milestone__c].Month_3__c))),
(NOT(ISNULL([pse__Milestone__c].Month_4__c))),
(NOT(ISNULL([pse__Milestone__c].Month_5__c))),
(NOT(ISNULL([pse__Milestone__c].Month_6__c))),
(NOT(ISNULL([pse__Milestone__c].Month_7__c))),
(NOT(ISNULL([pse__Milestone__c].Month_8__c))),
(NOT(ISNULL([pse__Milestone__c].Month_9__c))),
(NOT(ISNULL([pse__Milestone__c].Month_10__c))),
(NOT(ISNULL([pse__Milestone__c].Month_11__c))),
(NOT(ISNULL([pse__Milestone__c].Month_12__c))))</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_1</name>
        <dataType>Boolean</dataType>
        <expression>OR(
(NOT(ISNULL({!myVariable_current.Month_1__c}))),
(NOT(ISNULL({!myVariable_current.Month_2__c}))),
(NOT(ISNULL({!myVariable_current.Month_3__c}))),
(NOT(ISNULL({!myVariable_current.Month_4__c}))),
(NOT(ISNULL({!myVariable_current.Month_5__c}))),
(NOT(ISNULL({!myVariable_current.Month_6__c}))),
(NOT(ISNULL({!myVariable_current.Month_7__c}))),
(NOT(ISNULL({!myVariable_current.Month_8__c}))),
(NOT(ISNULL({!myVariable_current.Month_9__c}))),
(NOT(ISNULL({!myVariable_current.Month_10__c}))),
(NOT(ISNULL({!myVariable_current.Month_11__c}))),
(NOT(ISNULL({!myVariable_current.Month_12__c}))))</expression>
    </formulas>
    <interviewLabel>Milestone_Complete_Update-8_InterviewLabel</interviewLabel>
    <label>Milestone % Complete Update</label>
    <processMetadataValues>
        <name>ObjectType</name>
        <value>
            <stringValue>pse__Milestone__c</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>ObjectVariable</name>
        <value>
            <elementReference>myVariable_current</elementReference>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OldObjectVariable</name>
        <value>
            <elementReference>myVariable_old</elementReference>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>TriggerType</name>
        <value>
            <stringValue>onAllChanges</stringValue>
        </value>
    </processMetadataValues>
    <processType>Workflow</processType>
    <recordUpdates>
        <processMetadataValues>
            <name>evaluationType</name>
            <value>
                <stringValue>always</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>isChildRelationship</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>reference</name>
            <value>
                <stringValue>[pse__Milestone__c]</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_1_A1</name>
        <label>Update % Complete Field</label>
        <locationX>100</locationX>
        <locationY>200</locationY>
        <filters>
            <processMetadataValues>
                <name>implicit</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </processMetadataValues>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>Number</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>% Complete</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <field>PercentComplete__c</field>
            <value>
                <elementReference>formula_2_myRule_1_A1_PercentComplete_c</elementReference>
            </value>
        </inputAssignments>
        <object>pse__Milestone__c</object>
    </recordUpdates>
    <startElementReference>myVariable_waitStartTimeAssignment</startElementReference>
    <status>Active</status>
    <variables>
        <name>myVariable_current</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>pse__Milestone__c</objectType>
    </variables>
    <variables>
        <name>myVariable_old</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>pse__Milestone__c</objectType>
    </variables>
    <variables>
        <name>myVariable_waitStartTimeVariable</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>$Flow.CurrentDateTime</elementReference>
        </value>
    </variables>
</Flow>
