force-app/main/default/flows/Milestone_Monthly_Totals_Update.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>myVariable_waitStartTimeAssignment</name>
        <label>myVariable_waitStartTimeAssignment</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>myVariable_waitStartTimeVariable</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>myDecision</targetReference>
        </connector>
    </assignments>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision</name>
        <label>myDecision</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_1</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_1_A1</targetReference>
            </connector>
            <label>Created or Updated</label>
        </rules>
    </decisions>
    <description>Updates the Monthly Total fields based on the Monthly Percent fields 1 - 12.</description>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>(IF(ISBLANK([pse__Milestone__c].Month_1__c), 0.00, [pse__Milestone__c].Month_1__c) + IF(ISBLANK([pse__Milestone__c].Month_2__c), 0.00, [pse__Milestone__c].Month_2__c) + IF(ISBLANK([pse__Milestone__c].Month_3__c), 0.00, [pse__Milestone__c].Month_3__c) + IF(ISBLANK([pse__Milestone__c].Month_4__c), 0.00, [pse__Milestone__c].Month_4__c) + IF(ISBLANK([pse__Milestone__c].Month_5__c), 0.00, [pse__Milestone__c].Month_5__c) + IF(ISBLANK([pse__Milestone__c].Month_6__c), 0.00, [pse__Milestone__c].Month_6__c)) * 100</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_10_myRule_1_A1_Month_6_Total_c</name>
        <dataType>Number</dataType>
        <expression>(IF(ISBLANK({!myVariable_current.Month_1__c}), 0.00, {!myVariable_current.Month_1__c}) + IF(ISBLANK({!myVariable_current.Month_2__c}), 0.00, {!myVariable_current.Month_2__c}) + IF(ISBLANK({!myVariable_current.Month_3__c}), 0.00, {!myVariable_current.Month_3__c}) + IF(ISBLANK({!myVariable_current.Month_4__c}), 0.00, {!myVariable_current.Month_4__c}) + IF(ISBLANK({!myVariable_current.Month_5__c}), 0.00, {!myVariable_current.Month_5__c}) + IF(ISBLANK({!myVariable_current.Month_6__c}), 0.00, {!myVariable_current.Month_6__c})) * 100</expression>
        <scale>18</scale>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>(IF(ISBLANK([pse__Milestone__c].Month_1__c), 0.00, [pse__Milestone__c].Month_1__c) + IF(ISBLANK([pse__Milestone__c].Month_2__c), 0.00, [pse__Milestone__c].Month_2__c) + IF(ISBLANK([pse__Milestone__c].Month_3__c), 0.00, [pse__Milestone__c].Month_3__c) + IF(ISBLANK([pse__Milestone__c].Month_4__c), 0.00, [pse__Milestone__c].Month_4__c) + IF(ISBLANK([pse__Milestone__c].Month_5__c), 0.00, [pse__Milestone__c].Month_5__c) + IF(ISBLANK([pse__Milestone__c].Month_6__c), 0.00, [pse__Milestone__c].Month_6__c) + IF(ISBLANK([pse__Milestone__c].Month_7__c), 0.00, [pse__Milestone__c].Month_7__c)) * 100</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_11_myRule_1_A1_Month_7_Total_c</name>
        <dataType>Number</dataType>
        <expression>(IF(ISBLANK({!myVariable_current.Month_1__c}), 0.00, {!myVariable_current.Month_1__c}) + IF(ISBLANK({!myVariable_current.Month_2__c}), 0.00, {!myVariable_current.Month_2__c}) + IF(ISBLANK({!myVariable_current.Month_3__c}), 0.00, {!myVariable_current.Month_3__c}) + IF(ISBLANK({!myVariable_current.Month_4__c}), 0.00, {!myVariable_current.Month_4__c}) + IF(ISBLANK({!myVariable_current.Month_5__c}), 0.00, {!myVariable_current.Month_5__c}) + IF(ISBLANK({!myVariable_current.Month_6__c}), 0.00, {!myVariable_current.Month_6__c}) + IF(ISBLANK({!myVariable_current.Month_7__c}), 0.00, {!myVariable_current.Month_7__c})) * 100</expression>
        <scale>18</scale>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>(IF(ISBLANK([pse__Milestone__c].Month_1__c), 0.00, [pse__Milestone__c].Month_1__c) + IF(ISBLANK([pse__Milestone__c].Month_2__c), 0.00, [pse__Milestone__c].Month_2__c) + IF(ISBLANK([pse__Milestone__c].Month_3__c), 0.00, [pse__Milestone__c].Month_3__c) + IF(ISBLANK([pse__Milestone__c].Month_4__c), 0.00, [pse__Milestone__c].Month_4__c) + IF(ISBLANK([pse__Milestone__c].Month_5__c), 0.00, [pse__Milestone__c].Month_5__c) + IF(ISBLANK([pse__Milestone__c].Month_6__c), 0.00, [pse__Milestone__c].Month_6__c) + IF(ISBLANK([pse__Milestone__c].Month_7__c), 0.00, [pse__Milestone__c].Month_7__c) + IF(ISBLANK([pse__Milestone__c].Month_8__c), 0.00, [pse__Milestone__c].Month_8__c)) * 100</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_12_myRule_1_A1_Month_8_Total_c</name>
        <dataType>Number</dataType>
        <expression>(IF(ISBLANK({!myVariable_current.Month_1__c}), 0.00, {!myVariable_current.Month_1__c}) + IF(ISBLANK({!myVariable_current.Month_2__c}), 0.00, {!myVariable_current.Month_2__c}) + IF(ISBLANK({!myVariable_current.Month_3__c}), 0.00, {!myVariable_current.Month_3__c}) + IF(ISBLANK({!myVariable_current.Month_4__c}), 0.00, {!myVariable_current.Month_4__c}) + IF(ISBLANK({!myVariable_current.Month_5__c}), 0.00, {!myVariable_current.Month_5__c}) + IF(ISBLANK({!myVariable_current.Month_6__c}), 0.00, {!myVariable_current.Month_6__c}) + IF(ISBLANK({!myVariable_current.Month_7__c}), 0.00, {!myVariable_current.Month_7__c}) + IF(ISBLANK({!myVariable_current.Month_8__c}), 0.00, {!myVariable_current.Month_8__c})) * 100</expression>
        <scale>18</scale>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>(IF(ISBLANK([pse__Milestone__c].Month_1__c), 0.00, [pse__Milestone__c].Month_1__c) + IF(ISBLANK([pse__Milestone__c].Month_2__c), 0.00, [pse__Milestone__c].Month_2__c) + IF(ISBLANK([pse__Milestone__c].Month_3__c), 0.00, [pse__Milestone__c].Month_3__c) + IF(ISBLANK([pse__Milestone__c].Month_4__c), 0.00, [pse__Milestone__c].Month_4__c) + IF(ISBLANK([pse__Milestone__c].Month_5__c), 0.00, [pse__Milestone__c].Month_5__c) + IF(ISBLANK([pse__Milestone__c].Month_6__c), 0.00, [pse__Milestone__c].Month_6__c) + IF(ISBLANK([pse__Milestone__c].Month_7__c), 0.00, [pse__Milestone__c].Month_7__c) + IF(ISBLANK([pse__Milestone__c].Month_8__c), 0.00, [pse__Milestone__c].Month_8__c) + IF(ISBLANK([pse__Milestone__c].Month_9__c), 0.00, [pse__Milestone__c].Month_9__c)) * 100</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_13_myRule_1_A1_Month_9_Total_c</name>
        <dataType>Number</dataType>
        <expression>(IF(ISBLANK({!myVariable_current.Month_1__c}), 0.00, {!myVariable_current.Month_1__c}) + IF(ISBLANK({!myVariable_current.Month_2__c}), 0.00, {!myVariable_current.Month_2__c}) + IF(ISBLANK({!myVariable_current.Month_3__c}), 0.00, {!myVariable_current.Month_3__c}) + IF(ISBLANK({!myVariable_current.Month_4__c}), 0.00, {!myVariable_current.Month_4__c}) + IF(ISBLANK({!myVariable_current.Month_5__c}), 0.00, {!myVariable_current.Month_5__c}) + IF(ISBLANK({!myVariable_current.Month_6__c}), 0.00, {!myVariable_current.Month_6__c}) + IF(ISBLANK({!myVariable_current.Month_7__c}), 0.00, {!myVariable_current.Month_7__c}) + IF(ISBLANK({!myVariable_current.Month_8__c}), 0.00, {!myVariable_current.Month_8__c}) + IF(ISBLANK({!myVariable_current.Month_9__c}), 0.00, {!myVariable_current.Month_9__c})) * 100</expression>
        <scale>18</scale>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>(IF(ISBLANK([pse__Milestone__c].Month_1__c), 0.00, [pse__Milestone__c].Month_1__c) + IF(ISBLANK([pse__Milestone__c].Month_2__c), 0.00, [pse__Milestone__c].Month_2__c) + IF(ISBLANK([pse__Milestone__c].Month_3__c), 0.00, [pse__Milestone__c].Month_3__c) + IF(ISBLANK([pse__Milestone__c].Month_4__c), 0.00, [pse__Milestone__c].Month_4__c) + IF(ISBLANK([pse__Milestone__c].Month_5__c), 0.00, [pse__Milestone__c].Month_5__c) + IF(ISBLANK([pse__Milestone__c].Month_6__c), 0.00, [pse__Milestone__c].Month_6__c) + IF(ISBLANK([pse__Milestone__c].Month_7__c), 0.00, [pse__Milestone__c].Month_7__c) + IF(ISBLANK([pse__Milestone__c].Month_8__c), 0.00, [pse__Milestone__c].Month_8__c) + IF(ISBLANK([pse__Milestone__c].Month_9__c), 0.00, [pse__Milestone__c].Month_9__c) + IF(ISBLANK([pse__Milestone__c].Month_10__c), 0.00, [pse__Milestone__c].Month_10__c)) *100</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_2_myRule_1_A1_Month_10_Total_c</name>
        <dataType>Number</dataType>
        <expression>(IF(ISBLANK({!myVariable_current.Month_1__c}), 0.00, {!myVariable_current.Month_1__c}) + IF(ISBLANK({!myVariable_current.Month_2__c}), 0.00, {!myVariable_current.Month_2__c}) + IF(ISBLANK({!myVariable_current.Month_3__c}), 0.00, {!myVariable_current.Month_3__c}) + IF(ISBLANK({!myVariable_current.Month_4__c}), 0.00, {!myVariable_current.Month_4__c}) + IF(ISBLANK({!myVariable_current.Month_5__c}), 0.00, {!myVariable_current.Month_5__c}) + IF(ISBLANK({!myVariable_current.Month_6__c}), 0.00, {!myVariable_current.Month_6__c}) + IF(ISBLANK({!myVariable_current.Month_7__c}), 0.00, {!myVariable_current.Month_7__c}) + IF(ISBLANK({!myVariable_current.Month_8__c}), 0.00, {!myVariable_current.Month_8__c}) + IF(ISBLANK({!myVariable_current.Month_9__c}), 0.00, {!myVariable_current.Month_9__c}) + IF(ISBLANK({!myVariable_current.Month_10__c}), 0.00, {!myVariable_current.Month_10__c})) *100</expression>
        <scale>18</scale>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>(IF(ISBLANK([pse__Milestone__c].Month_1__c), 0.00, [pse__Milestone__c].Month_1__c) + IF(ISBLANK([pse__Milestone__c].Month_2__c), 0.00, [pse__Milestone__c].Month_2__c) + IF(ISBLANK([pse__Milestone__c].Month_3__c), 0.00, [pse__Milestone__c].Month_3__c) + IF(ISBLANK([pse__Milestone__c].Month_4__c), 0.00, [pse__Milestone__c].Month_4__c) + IF(ISBLANK([pse__Milestone__c].Month_5__c), 0.00, [pse__Milestone__c].Month_5__c) + IF(ISBLANK([pse__Milestone__c].Month_6__c), 0.00, [pse__Milestone__c].Month_6__c) + IF(ISBLANK([pse__Milestone__c].Month_7__c), 0.00, [pse__Milestone__c].Month_7__c) + IF(ISBLANK([pse__Milestone__c].Month_8__c), 0.00, [pse__Milestone__c].Month_8__c) + IF(ISBLANK([pse__Milestone__c].Month_9__c), 0.00, [pse__Milestone__c].Month_9__c) + IF(ISBLANK([pse__Milestone__c].Month_10__c), 0.00, [pse__Milestone__c].Month_10__c) + IF(ISBLANK([pse__Milestone__c].Month_11__c), 0.00, [pse__Milestone__c].Month_11__c)) * 100</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_3_myRule_1_A1_Month_11_Total_c</name>
        <dataType>Number</dataType>
        <expression>(IF(ISBLANK({!myVariable_current.Month_1__c}), 0.00, {!myVariable_current.Month_1__c}) + IF(ISBLANK({!myVariable_current.Month_2__c}), 0.00, {!myVariable_current.Month_2__c}) + IF(ISBLANK({!myVariable_current.Month_3__c}), 0.00, {!myVariable_current.Month_3__c}) + IF(ISBLANK({!myVariable_current.Month_4__c}), 0.00, {!myVariable_current.Month_4__c}) + IF(ISBLANK({!myVariable_current.Month_5__c}), 0.00, {!myVariable_current.Month_5__c}) + IF(ISBLANK({!myVariable_current.Month_6__c}), 0.00, {!myVariable_current.Month_6__c}) + IF(ISBLANK({!myVariable_current.Month_7__c}), 0.00, {!myVariable_current.Month_7__c}) + IF(ISBLANK({!myVariable_current.Month_8__c}), 0.00, {!myVariable_current.Month_8__c}) + IF(ISBLANK({!myVariable_current.Month_9__c}), 0.00, {!myVariable_current.Month_9__c}) + IF(ISBLANK({!myVariable_current.Month_10__c}), 0.00, {!myVariable_current.Month_10__c}) + IF(ISBLANK({!myVariable_current.Month_11__c}), 0.00, {!myVariable_current.Month_11__c})) * 100</expression>
        <scale>18</scale>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>(IF(ISBLANK([pse__Milestone__c].Month_1__c), 0.00, [pse__Milestone__c].Month_1__c) + IF(ISBLANK([pse__Milestone__c].Month_2__c), 0.00, [pse__Milestone__c].Month_2__c) + IF(ISBLANK([pse__Milestone__c].Month_3__c), 0.00, [pse__Milestone__c].Month_3__c) + IF(ISBLANK([pse__Milestone__c].Month_4__c), 0.00, [pse__Milestone__c].Month_4__c) + IF(ISBLANK([pse__Milestone__c].Month_5__c), 0.00, [pse__Milestone__c].Month_5__c) + IF(ISBLANK([pse__Milestone__c].Month_6__c), 0.00, [pse__Milestone__c].Month_6__c) + IF(ISBLANK([pse__Milestone__c].Month_7__c), 0.00, [pse__Milestone__c].Month_7__c) + IF(ISBLANK([pse__Milestone__c].Month_8__c), 0.00, [pse__Milestone__c].Month_8__c) + IF(ISBLANK([pse__Milestone__c].Month_9__c), 0.00, [pse__Milestone__c].Month_9__c) + IF(ISBLANK([pse__Milestone__c].Month_10__c), 0.00, [pse__Milestone__c].Month_10__c) + IF(ISBLANK([pse__Milestone__c].Month_11__c), 0.00, [pse__Milestone__c].Month_11__c) + IF(ISBLANK([pse__Milestone__c].Month_12__c), 0.00, [pse__Milestone__c].Month_12__c)) *100</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_4_myRule_1_A1_Month_12_Total_c</name>
        <dataType>Number</dataType>
        <expression>(IF(ISBLANK({!myVariable_current.Month_1__c}), 0.00, {!myVariable_current.Month_1__c}) + IF(ISBLANK({!myVariable_current.Month_2__c}), 0.00, {!myVariable_current.Month_2__c}) + IF(ISBLANK({!myVariable_current.Month_3__c}), 0.00, {!myVariable_current.Month_3__c}) + IF(ISBLANK({!myVariable_current.Month_4__c}), 0.00, {!myVariable_current.Month_4__c}) + IF(ISBLANK({!myVariable_current.Month_5__c}), 0.00, {!myVariable_current.Month_5__c}) + IF(ISBLANK({!myVariable_current.Month_6__c}), 0.00, {!myVariable_current.Month_6__c}) + IF(ISBLANK({!myVariable_current.Month_7__c}), 0.00, {!myVariable_current.Month_7__c}) + IF(ISBLANK({!myVariable_current.Month_8__c}), 0.00, {!myVariable_current.Month_8__c}) + IF(ISBLANK({!myVariable_current.Month_9__c}), 0.00, {!myVariable_current.Month_9__c}) + IF(ISBLANK({!myVariable_current.Month_10__c}), 0.00, {!myVariable_current.Month_10__c}) + IF(ISBLANK({!myVariable_current.Month_11__c}), 0.00, {!myVariable_current.Month_11__c}) + IF(ISBLANK({!myVariable_current.Month_12__c}), 0.00, {!myVariable_current.Month_12__c})) *100</expression>
        <scale>18</scale>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>(IF(ISBLANK([pse__Milestone__c].Month_1__c), 0.00, [pse__Milestone__c].Month_1__c)) * 100</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_5_myRule_1_A1_Month_1_Total_c</name>
        <dataType>Number</dataType>
        <expression>(IF(ISBLANK({!myVariable_current.Month_1__c}), 0.00, {!myVariable_current.Month_1__c})) * 100</expression>
        <scale>18</scale>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>(IF(ISBLANK([pse__Milestone__c].Month_1__c), 0.00, [pse__Milestone__c].Month_1__c) + IF(ISBLANK([pse__Milestone__c].Month_2__c), 0.00, [pse__Milestone__c].Month_2__c)) * 100</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_6_myRule_1_A1_Month_2_Total_c</name>
        <dataType>Number</dataType>
        <expression>(IF(ISBLANK({!myVariable_current.Month_1__c}), 0.00, {!myVariable_current.Month_1__c}) + IF(ISBLANK({!myVariable_current.Month_2__c}), 0.00, {!myVariable_current.Month_2__c})) * 100</expression>
        <scale>18</scale>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>(IF(ISBLANK([pse__Milestone__c].Month_1__c), 0.00, [pse__Milestone__c].Month_1__c) + IF(ISBLANK([pse__Milestone__c].Month_2__c), 0.00, [pse__Milestone__c].Month_2__c) + IF(ISBLANK([pse__Milestone__c].Month_3__c), 0.00, [pse__Milestone__c].Month_3__c))  *100</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_7_myRule_1_A1_Month_3_Total_c</name>
        <dataType>Number</dataType>
        <expression>(IF(ISBLANK({!myVariable_current.Month_1__c}), 0.00, {!myVariable_current.Month_1__c}) + IF(ISBLANK({!myVariable_current.Month_2__c}), 0.00, {!myVariable_current.Month_2__c}) + IF(ISBLANK({!myVariable_current.Month_3__c}), 0.00, {!myVariable_current.Month_3__c}))  *100</expression>
        <scale>18</scale>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>(IF(ISBLANK([pse__Milestone__c].Month_1__c), 0.00, [pse__Milestone__c].Month_1__c) + IF(ISBLANK([pse__Milestone__c].Month_2__c), 0.00, [pse__Milestone__c].Month_2__c) + IF(ISBLANK([pse__Milestone__c].Month_3__c), 0.00, [pse__Milestone__c].Month_3__c) + IF(ISBLANK([pse__Milestone__c].Month_4__c), 0.00, [pse__Milestone__c].Month_4__c)) * 100</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_8_myRule_1_A1_Month_4_Total_c</name>
        <dataType>Number</dataType>
        <expression>(IF(ISBLANK({!myVariable_current.Month_1__c}), 0.00, {!myVariable_current.Month_1__c}) + IF(ISBLANK({!myVariable_current.Month_2__c}), 0.00, {!myVariable_current.Month_2__c}) + IF(ISBLANK({!myVariable_current.Month_3__c}), 0.00, {!myVariable_current.Month_3__c}) + IF(ISBLANK({!myVariable_current.Month_4__c}), 0.00, {!myVariable_current.Month_4__c})) * 100</expression>
        <scale>18</scale>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>(IF(ISBLANK([pse__Milestone__c].Month_1__c), 0.00, [pse__Milestone__c].Month_1__c) + IF(ISBLANK([pse__Milestone__c].Month_2__c), 0.00, [pse__Milestone__c].Month_2__c) + IF(ISBLANK([pse__Milestone__c].Month_3__c), 0.00, [pse__Milestone__c].Month_3__c) + IF(ISBLANK([pse__Milestone__c].Month_4__c), 0.00, [pse__Milestone__c].Month_4__c) + IF(ISBLANK([pse__Milestone__c].Month_5__c), 0.00, [pse__Milestone__c].Month_5__c)) * 100</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_9_myRule_1_A1_Month_5_Total_c</name>
        <dataType>Number</dataType>
        <expression>(IF(ISBLANK({!myVariable_current.Month_1__c}), 0.00, {!myVariable_current.Month_1__c}) + IF(ISBLANK({!myVariable_current.Month_2__c}), 0.00, {!myVariable_current.Month_2__c}) + IF(ISBLANK({!myVariable_current.Month_3__c}), 0.00, {!myVariable_current.Month_3__c}) + IF(ISBLANK({!myVariable_current.Month_4__c}), 0.00, {!myVariable_current.Month_4__c}) + IF(ISBLANK({!myVariable_current.Month_5__c}), 0.00, {!myVariable_current.Month_5__c})) * 100</expression>
        <scale>18</scale>
    </formulas>
    <formulas>
        <name>formula_myRule_1</name>
        <dataType>Boolean</dataType>
        <expression>true</expression>
    </formulas>
    <interviewLabel>Milestone_Monthly_Totals_Update-3_InterviewLabel</interviewLabel>
    <label>Milestone Monthly Totals Update</label>
    <processMetadataValues>
        <name>ObjectType</name>
        <value>
            <stringValue>pse__Milestone__c</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>ObjectVariable</name>
        <value>
            <elementReference>myVariable_current</elementReference>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OldObjectVariable</name>
        <value>
            <elementReference>myVariable_old</elementReference>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>TriggerType</name>
        <value>
            <stringValue>onAllChanges</stringValue>
        </value>
    </processMetadataValues>
    <processType>Workflow</processType>
    <recordUpdates>
        <processMetadataValues>
            <name>evaluationType</name>
            <value>
                <stringValue>always</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>isChildRelationship</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>reference</name>
            <value>
                <stringValue>[pse__Milestone__c]</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_1_A1</name>
        <label>Update Totals</label>
        <locationX>100</locationX>
        <locationY>200</locationY>
        <filters>
            <processMetadataValues>
                <name>implicit</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </processMetadataValues>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>Number</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Month 10 Total</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <field>Month_10_Total__c</field>
            <value>
                <elementReference>formula_2_myRule_1_A1_Month_10_Total_c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>Number</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Month 11 Total</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <field>Month_11_Total__c</field>
            <value>
                <elementReference>formula_3_myRule_1_A1_Month_11_Total_c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>Number</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Month 12 Total</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <field>Month_12_Total__c</field>
            <value>
                <elementReference>formula_4_myRule_1_A1_Month_12_Total_c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>Number</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Month 1 Total</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <field>Month_1_Total__c</field>
            <value>
                <elementReference>formula_5_myRule_1_A1_Month_1_Total_c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>Number</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Month 2 Total</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <field>Month_2_Total__c</field>
            <value>
                <elementReference>formula_6_myRule_1_A1_Month_2_Total_c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>Number</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Month 3 Total</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <field>Month_3_Total__c</field>
            <value>
                <elementReference>formula_7_myRule_1_A1_Month_3_Total_c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>Number</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Month 4 Total</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <field>Month_4_Total__c</field>
            <value>
                <elementReference>formula_8_myRule_1_A1_Month_4_Total_c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>Number</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Month 5 Total</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <field>Month_5_Total__c</field>
            <value>
                <elementReference>formula_9_myRule_1_A1_Month_5_Total_c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>Number</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Month 6 Total</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <field>Month_6_Total__c</field>
            <value>
                <elementReference>formula_10_myRule_1_A1_Month_6_Total_c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>Number</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Month 7 Total</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <field>Month_7_Total__c</field>
            <value>
                <elementReference>formula_11_myRule_1_A1_Month_7_Total_c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>Number</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Month 8 Total</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <field>Month_8_Total__c</field>
            <value>
                <elementReference>formula_12_myRule_1_A1_Month_8_Total_c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>Number</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Month 9 Total</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <field>Month_9_Total__c</field>
            <value>
                <elementReference>formula_13_myRule_1_A1_Month_9_Total_c</elementReference>
            </value>
        </inputAssignments>
        <object>pse__Milestone__c</object>
    </recordUpdates>
    <startElementReference>myVariable_waitStartTimeAssignment</startElementReference>
    <status>Active</status>
    <variables>
        <name>myVariable_current</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>pse__Milestone__c</objectType>
    </variables>
    <variables>
        <name>myVariable_old</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>pse__Milestone__c</objectType>
    </variables>
    <variables>
        <name>myVariable_waitStartTimeVariable</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>$Flow.CurrentDateTime</elementReference>
        </value>
    </variables>
</Flow>
