force-app/main/default/flows/Payable_Invoice_Reporting_Period_Update.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>myVariable_waitStartTimeAssignment</name>
        <label>myVariable_waitStartTimeAssignment</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>myVariable_waitStartTimeVariable</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>myDecision</targetReference>
        </connector>
    </assignments>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision</name>
        <label>myDecision</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_1</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_1_A1</targetReference>
            </connector>
            <label>Expense Report Referenced?</label>
        </rules>
    </decisions>
    <description>If created from Expense report then reporting period is the period of the last expense date.</description>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>CASE(MONTH([c2g__codaPurchaseInvoice__c].Expense_Report__c.pse__Last_Expense_Date__c ), 
1, &quot;2017/001&quot;, 
2 , &quot;2017/002&quot;, 
3 , &quot;2017/003&quot;, 
4, &quot;2017/004&quot;, 
5, &quot;2017/005&quot;,
6 , &quot;2017/006&quot;,
7 , &quot;2017/007&quot;,
8 , &quot;2017/008&quot;,
9 , &quot;2017/009&quot;,
10, &quot;2017/010&quot;, 
11, &quot;2017/011&quot;, 
12,&quot;2017/012&quot;, 
&quot;2017/001&quot;)

</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_2_myRule_1_A1_0362611997</name>
        <dataType>String</dataType>
        <expression>CASE(MONTH({!myVariable_current.Expense_Report__c.pse__Last_Expense_Date__c} ), 
1, &quot;2017/001&quot;, 
2 , &quot;2017/002&quot;, 
3 , &quot;2017/003&quot;, 
4, &quot;2017/004&quot;, 
5, &quot;2017/005&quot;,
6 , &quot;2017/006&quot;,
7 , &quot;2017/007&quot;,
8 , &quot;2017/008&quot;,
9 , &quot;2017/009&quot;,
10, &quot;2017/010&quot;, 
11, &quot;2017/011&quot;, 
12,&quot;2017/012&quot;, 
&quot;2017/001&quot;)</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>NOT(ISBLANK([c2g__codaPurchaseInvoice__c].ffpsai__ExpenseReport__c ))</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_1</name>
        <dataType>Boolean</dataType>
        <expression>NOT(ISBLANK({!myVariable_current.ffpsai__ExpenseReport__c} ))</expression>
    </formulas>
    <interviewLabel>Payable_Invoice_Reporting_Period_Update-1_InterviewLabel</interviewLabel>
    <label>Payable Invoice Reporting Period Update</label>
    <processMetadataValues>
        <name>ObjectType</name>
        <value>
            <stringValue>c2g__codaPurchaseInvoice__c</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>ObjectVariable</name>
        <value>
            <elementReference>myVariable_current</elementReference>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OldObjectVariable</name>
        <value>
            <elementReference>myVariable_old</elementReference>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>TriggerType</name>
        <value>
            <stringValue>onCreateOnly</stringValue>
        </value>
    </processMetadataValues>
    <processType>Workflow</processType>
    <recordUpdates>
        <processMetadataValues>
            <name>evaluationType</name>
            <value>
                <stringValue>always</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>isChildRelationship</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>reference</name>
            <value>
                <stringValue>[c2g__codaPurchaseInvoice__c]</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_1_A1</name>
        <label>Update Activity Period</label>
        <locationX>100</locationX>
        <locationY>200</locationY>
        <filters>
            <processMetadataValues>
                <name>implicit</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </processMetadataValues>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>Picklist</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Activity Period</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <field>Activity_Period__c</field>
            <value>
                <elementReference>formula_2_myRule_1_A1_0362611997</elementReference>
            </value>
        </inputAssignments>
        <object>c2g__codaPurchaseInvoice__c</object>
    </recordUpdates>
    <startElementReference>myVariable_waitStartTimeAssignment</startElementReference>
    <status>Draft</status>
    <variables>
        <name>myVariable_current</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>c2g__codaPurchaseInvoice__c</objectType>
    </variables>
    <variables>
        <name>myVariable_old</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>c2g__codaPurchaseInvoice__c</objectType>
    </variables>
    <variables>
        <name>myVariable_waitStartTimeVariable</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>$Flow.CurrentDateTime</elementReference>
        </value>
    </variables>
</Flow>
