force-app/main/default/flows/Performance_Management_Mid_Year_Record_Update.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision</name>
        <label>myDecision</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_1</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <processMetadataValues>
                    <name>inputDataType</name>
                    <value>
                        <stringValue>ID</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>leftHandSideType</name>
                    <value>
                        <stringValue>ID</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>operatorDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>rightHandSideType</name>
                    <value>
                        <stringValue>ID</stringValue>
                    </value>
                </processMetadataValues>
                <leftValueReference>myVariable_current.RecordTypeId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>0122A000001USnsQAG</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <processMetadataValues>
                    <name>inputDataType</name>
                    <value>
                        <stringValue>ID</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>leftHandSideType</name>
                    <value>
                        <stringValue>ID</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>operatorDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>rightHandSideType</name>
                    <value>
                        <stringValue>ID</stringValue>
                    </value>
                </processMetadataValues>
                <leftValueReference>myVariable_current.RecordTypeId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>0122A000001USuPQAW</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <processMetadataValues>
                    <name>inputDataType</name>
                    <value>
                        <stringValue>ID</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>leftHandSideType</name>
                    <value>
                        <stringValue>ID</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>operatorDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>rightHandSideType</name>
                    <value>
                        <stringValue>ID</stringValue>
                    </value>
                </processMetadataValues>
                <leftValueReference>myVariable_current.RecordTypeId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>0122A000001USnxQAG</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_1_A1</targetReference>
            </connector>
            <label>GO!</label>
        </rules>
    </decisions>
    <description>Updates appropriate fields on Mi-Year records anytime the record is updated.</description>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>IF(
OR([Mid_Year_Review__c].Job_Title_Static__c = &quot;Executive Assistant&quot;,
[Mid_Year_Review__c].Job_Title_Static__c = &quot;Business Analyst&quot;, [Mid_Year_Review__c].Job_Title_Static__c = &quot;Associate Consultant&quot;,
[Mid_Year_Review__c].Job_Title_Static__c = &quot;Associate Director&quot;,
[Mid_Year_Review__c].Job_Title_Static__c = &quot;Director&quot;), TRUE, FALSE)</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_2_myRule_1_A4_3593315724</name>
        <dataType>Boolean</dataType>
        <expression>IF(
OR({!myVariable_current.Job_Title_Static__c} = &quot;Executive Assistant&quot;,
{!myVariable_current.Job_Title_Static__c} = &quot;Business Analyst&quot;, {!myVariable_current.Job_Title_Static__c} = &quot;Associate Consultant&quot;,
{!myVariable_current.Job_Title_Static__c} = &quot;Associate Director&quot;,
{!myVariable_current.Job_Title_Static__c} = &quot;Director&quot;), TRUE, FALSE)</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>IF(
OR([Mid_Year_Review__c].Job_Title_Static__c =&quot;Senior Director&quot;, [Mid_Year_Review__c].Job_Title_Static__c = &quot;Vice President&quot;), TRUE, FALSE) </stringValue>
            </value>
        </processMetadataValues>
        <name>formula_3_myRule_1_A3_2748367032</name>
        <dataType>Boolean</dataType>
        <expression>IF(
OR({!myVariable_current.Job_Title_Static__c} =&quot;Senior Director&quot;, {!myVariable_current.Job_Title_Static__c} = &quot;Vice President&quot;), TRUE, FALSE)</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>CASE([Mid_Year_Review__c].Manager__c ,
&quot;Burke, Ashley&quot; , &quot;005F0000002tkLv&quot;,
&quot;Silvers, Bob&quot; , &quot;005F0000002tkLv&quot;,
&quot;Lawrence, Chuck&quot; , &quot;005F0000002tQDG&quot;,
&quot;Miller, David&quot; , &quot;005F0000002tkLv&quot;,
&quot;Meil, Jason&quot; , &quot;005F0000002tkLr&quot;,
&quot;Krajacic, Jeff&quot; , &quot;0052A000009xuvm&quot;,
&quot;Covelli, John&quot;	 , &quot;005F0000005Os4F&quot;,
&quot;Rodgers, John&quot;	 , &quot;005F0000002tkLv&quot;,
&quot;Bloomfield, Jon&quot; , &quot;005F0000002tQDG&quot;,
&quot;Kramer, Nick&quot; , &quot;0052A000009xuvm&quot;,
&quot;Ashcroft, Paul&quot; , &quot;005F0000002tkLv&quot;,
&quot;de Janosi, Paul&quot; , &quot;005F0000005OxoD&quot;,
&quot;Costa, Rafael&quot; , &quot;005F0000005NOvB&quot;,
&quot;Thangavelsamy, Raj&quot; , &quot;005F0000002tkLv&quot;,
&quot;Sanders, Regenia&quot; , &quot;005F0000005OxoD&quot;,
&quot;Reed, Rodney&quot; , &quot;005F0000002tQDG&quot;,
&quot;Yan, Roger&quot; , 	&quot;005F0000005OxoD&quot;,
&quot;Sachdeva, Sachin&quot; , &quot;005F0000002tkLv&quot;,
&quot;Evans, Sharlene&quot; , &quot;005F0000002tkLv&quot;,
&quot;Homann, Stefan&quot; , &quot;005F0000002tkLm&quot;,
&quot;Kaiser, Thomas&quot; , &quot;005F0000002tkLm&quot;,
&quot;Dix, Wayne&quot; , &quot;005F0000002tkLv&quot;, 
&quot;Marves, Gary&quot; , &quot;005F0000002tQDG&quot; , 
&quot;Asbeck, Fred&quot; , &quot;0052A000009xuvm&quot; , 
&quot;Brown, Reuben&quot; , &quot;005F0000002tkLv&quot; , 
&quot;Makhmali, Nika&quot; , &quot;005F0000002tkLv&quot;, 
&quot;Katz, Matt&quot; , &quot;0052A000009xuvm&quot; , 
&quot;Muhota, Kim&quot; , &quot;005F0000002tkLv&quot; ,
&quot;005F0000002tkLv&quot;)</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_4_myRule_1_A2_4127104397</name>
        <dataType>String</dataType>
        <expression>CASE({!myVariable_current.Manager__c} ,
&quot;Burke, Ashley&quot; , &quot;005F0000002tkLv&quot;,
&quot;Silvers, Bob&quot; , &quot;005F0000002tkLv&quot;,
&quot;Lawrence, Chuck&quot; , &quot;005F0000002tQDG&quot;,
&quot;Miller, David&quot; , &quot;005F0000002tkLv&quot;,
&quot;Meil, Jason&quot; , &quot;005F0000002tkLr&quot;,
&quot;Krajacic, Jeff&quot; , &quot;0052A000009xuvm&quot;,
&quot;Covelli, John&quot;	 , &quot;005F0000005Os4F&quot;,
&quot;Rodgers, John&quot;	 , &quot;005F0000002tkLv&quot;,
&quot;Bloomfield, Jon&quot; , &quot;005F0000002tQDG&quot;,
&quot;Kramer, Nick&quot; , &quot;0052A000009xuvm&quot;,
&quot;Ashcroft, Paul&quot; , &quot;005F0000002tkLv&quot;,
&quot;de Janosi, Paul&quot; , &quot;005F0000005OxoD&quot;,
&quot;Costa, Rafael&quot; , &quot;005F0000005NOvB&quot;,
&quot;Thangavelsamy, Raj&quot; , &quot;005F0000002tkLv&quot;,
&quot;Sanders, Regenia&quot; , &quot;005F0000005OxoD&quot;,
&quot;Reed, Rodney&quot; , &quot;005F0000002tQDG&quot;,
&quot;Yan, Roger&quot; , 	&quot;005F0000005OxoD&quot;,
&quot;Sachdeva, Sachin&quot; , &quot;005F0000002tkLv&quot;,
&quot;Evans, Sharlene&quot; , &quot;005F0000002tkLv&quot;,
&quot;Homann, Stefan&quot; , &quot;005F0000002tkLm&quot;,
&quot;Kaiser, Thomas&quot; , &quot;005F0000002tkLm&quot;,
&quot;Dix, Wayne&quot; , &quot;005F0000002tkLv&quot;, 
&quot;Marves, Gary&quot; , &quot;005F0000002tQDG&quot; , 
&quot;Asbeck, Fred&quot; , &quot;0052A000009xuvm&quot; , 
&quot;Brown, Reuben&quot; , &quot;005F0000002tkLv&quot; , 
&quot;Makhmali, Nika&quot; , &quot;005F0000002tkLv&quot;, 
&quot;Katz, Matt&quot; , &quot;0052A000009xuvm&quot; , 
&quot;Muhota, Kim&quot; , &quot;005F0000002tkLv&quot; ,
&quot;005F0000002tkLv&quot;)</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>CASE([Mid_Year_Review__c].Manager__c , 
&quot;Burke, Ashley&quot; , &quot;005F0000002U9lK&quot;,
&quot;Silvers, Bob&quot; , &quot;005F0000002tQDG&quot;,
&quot;Krajacic, Jeff&quot; , &quot;005F0000005Os4F&quot;,
&quot;Covelli, John&quot;	 , &quot;005F0000005OqcU&quot;,
&quot;Rodgers, John&quot;	 , &quot;005F0000002tkLv&quot;,
&quot;Kramer, Nick&quot; , &quot;005F0000007fFMD&quot;,
&quot;Ashcroft, Paul&quot; , &quot;005F0000003FDtA&quot;,
&quot;Reed, Rodney&quot; , &quot;005F0000003FE08&quot;,
&quot;Dix, Wayne&quot; ,	&quot;005F0000007grbm&quot;, 
&quot;Marves, Gary&quot; , &quot;005F0000003FDy4&quot; ,
&quot;Asbeck, Fred&quot; , &quot;005F0000005OgL9&quot; , 
&quot;Brown, Reuben&quot; , &quot;005F0000005PdTJ&quot; , 
&quot;Makhmali, Nika&quot; , &quot;005F0000002H4MV&quot; , 
&quot;Katz, Matt&quot; , &quot;0052A000009xuvm&quot; ,
&quot;Muhota, Kim&quot; , &quot;0052A000009LgAB&quot; , 
&quot;Ventry, Chris&quot; , &quot;0052A00000A2nqn&quot; ,
&quot;Nordyke, Brian&quot; , &quot;005F0000004tFw3&quot;,
&quot;Pangier, Kathleen&quot; , &quot;005F0000003FDys&quot;,
&quot;005F0000005NOvB&quot;)</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_5_myRule_1_A1_5577504187</name>
        <dataType>String</dataType>
        <expression>CASE({!myVariable_current.Manager__c} , 
&quot;Burke, Ashley&quot; , &quot;005F0000002U9lK&quot;,
&quot;Silvers, Bob&quot; , &quot;005F0000002tQDG&quot;,
&quot;Krajacic, Jeff&quot; , &quot;005F0000005Os4F&quot;,
&quot;Covelli, John&quot;	 , &quot;005F0000005OqcU&quot;,
&quot;Rodgers, John&quot;	 , &quot;005F0000002tkLv&quot;,
&quot;Kramer, Nick&quot; , &quot;005F0000007fFMD&quot;,
&quot;Ashcroft, Paul&quot; , &quot;005F0000003FDtA&quot;,
&quot;Reed, Rodney&quot; , &quot;005F0000003FE08&quot;,
&quot;Dix, Wayne&quot; ,	&quot;005F0000007grbm&quot;, 
&quot;Marves, Gary&quot; , &quot;005F0000003FDy4&quot; ,
&quot;Asbeck, Fred&quot; , &quot;005F0000005OgL9&quot; , 
&quot;Brown, Reuben&quot; , &quot;005F0000005PdTJ&quot; , 
&quot;Makhmali, Nika&quot; , &quot;005F0000002H4MV&quot; , 
&quot;Katz, Matt&quot; , &quot;0052A000009xuvm&quot; ,
&quot;Muhota, Kim&quot; , &quot;0052A000009LgAB&quot; , 
&quot;Ventry, Chris&quot; , &quot;0052A00000A2nqn&quot; ,
&quot;Nordyke, Brian&quot; , &quot;005F0000004tFw3&quot;,
&quot;Pangier, Kathleen&quot; , &quot;005F0000003FDys&quot;,
&quot;005F0000005NOvB&quot;)</expression>
    </formulas>
    <interviewLabel>Performance_Management_Mid_Year_Record_Update-14_InterviewLabel</interviewLabel>
    <label>Performance Management - Mid-Year Record Update</label>
    <processMetadataValues>
        <name>ObjectType</name>
        <value>
            <stringValue>Mid_Year_Review__c</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>ObjectVariable</name>
        <value>
            <elementReference>myVariable_current</elementReference>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OldObjectVariable</name>
        <value>
            <elementReference>myVariable_old</elementReference>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>RecursiveCountVariable</name>
        <value>
            <elementReference>RecursiveCountVariable</elementReference>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>TriggerType</name>
        <value>
            <stringValue>onAllChanges</stringValue>
        </value>
    </processMetadataValues>
    <processType>Workflow</processType>
    <recordUpdates>
        <processMetadataValues>
            <name>evaluationType</name>
            <value>
                <stringValue>always</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>extraTypeInfo</name>
        </processMetadataValues>
        <processMetadataValues>
            <name>isChildRelationship</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>reference</name>
            <value>
                <stringValue>[Mid_Year_Review__c]</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>referenceTargetField</name>
        </processMetadataValues>
        <name>myRule_1_A1</name>
        <label>Update Performance Lead (USER)</label>
        <locationX>100</locationX>
        <locationY>200</locationY>
        <connector>
            <targetReference>myRule_1_A2</targetReference>
        </connector>
        <filters>
            <processMetadataValues>
                <name>implicit</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </processMetadataValues>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>ID</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Performance Lead (User)</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <field>Performance_Lead_User__c</field>
            <value>
                <elementReference>formula_5_myRule_1_A1_5577504187</elementReference>
            </value>
        </inputAssignments>
        <object>Mid_Year_Review__c</object>
    </recordUpdates>
    <recordUpdates>
        <processMetadataValues>
            <name>evaluationType</name>
            <value>
                <stringValue>always</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>extraTypeInfo</name>
        </processMetadataValues>
        <processMetadataValues>
            <name>isChildRelationship</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>reference</name>
            <value>
                <stringValue>[Mid_Year_Review__c]</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>referenceTargetField</name>
        </processMetadataValues>
        <name>myRule_1_A2</name>
        <label>Update Managing Director (User)</label>
        <locationX>100</locationX>
        <locationY>300</locationY>
        <connector>
            <targetReference>myRule_1_A3</targetReference>
        </connector>
        <filters>
            <processMetadataValues>
                <name>implicit</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </processMetadataValues>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>ID</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Managing Director (User)</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <field>Managing_Director_User__c</field>
            <value>
                <elementReference>formula_4_myRule_1_A2_4127104397</elementReference>
            </value>
        </inputAssignments>
        <object>Mid_Year_Review__c</object>
    </recordUpdates>
    <recordUpdates>
        <processMetadataValues>
            <name>evaluationType</name>
            <value>
                <stringValue>always</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>extraTypeInfo</name>
        </processMetadataValues>
        <processMetadataValues>
            <name>isChildRelationship</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>reference</name>
            <value>
                <stringValue>[Mid_Year_Review__c]</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>referenceTargetField</name>
        </processMetadataValues>
        <name>myRule_1_A3</name>
        <label>Update SD-VP Static</label>
        <locationX>100</locationX>
        <locationY>400</locationY>
        <connector>
            <targetReference>myRule_1_A4</targetReference>
        </connector>
        <filters>
            <processMetadataValues>
                <name>implicit</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </processMetadataValues>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>Boolean</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>SD - VP STATIC</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <field>SD_VP_STATIC__c</field>
            <value>
                <elementReference>formula_3_myRule_1_A3_2748367032</elementReference>
            </value>
        </inputAssignments>
        <object>Mid_Year_Review__c</object>
    </recordUpdates>
    <recordUpdates>
        <processMetadataValues>
            <name>evaluationType</name>
            <value>
                <stringValue>always</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>extraTypeInfo</name>
        </processMetadataValues>
        <processMetadataValues>
            <name>isChildRelationship</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>reference</name>
            <value>
                <stringValue>[Mid_Year_Review__c]</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>referenceTargetField</name>
        </processMetadataValues>
        <name>myRule_1_A4</name>
        <label>Udpated BA - D Static</label>
        <locationX>100</locationX>
        <locationY>500</locationY>
        <filters>
            <processMetadataValues>
                <name>implicit</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </processMetadataValues>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>Boolean</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>BA - D STATIC</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <field>BA_D_STATIC__c</field>
            <value>
                <elementReference>formula_2_myRule_1_A4_3593315724</elementReference>
            </value>
        </inputAssignments>
        <object>Mid_Year_Review__c</object>
    </recordUpdates>
    <startElementReference>myDecision</startElementReference>
    <status>Active</status>
    <variables>
        <name>myVariable_current</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Mid_Year_Review__c</objectType>
    </variables>
    <variables>
        <name>myVariable_old</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Mid_Year_Review__c</objectType>
    </variables>
    <variables>
        <name>RecursiveCountVariable</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
</Flow>
