force-app/main/default/flows/Performance_Management_G100C_Year_End_Record_Update.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision</name>
        <label>myDecision</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_1</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <processMetadataValues>
                    <name>inputDataType</name>
                    <value>
                        <stringValue>ID</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>leftHandSideType</name>
                    <value>
                        <stringValue>ID</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>operatorDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>rightHandSideType</name>
                    <value>
                        <stringValue>ID</stringValue>
                    </value>
                </processMetadataValues>
                <leftValueReference>myVariable_current.RecordTypeId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>0122A000001MOaqQAG</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <processMetadataValues>
                    <name>inputDataType</name>
                    <value>
                        <stringValue>ID</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>leftHandSideType</name>
                    <value>
                        <stringValue>ID</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>operatorDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>rightHandSideType</name>
                    <value>
                        <stringValue>ID</stringValue>
                    </value>
                </processMetadataValues>
                <leftValueReference>myVariable_current.RecordTypeId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>0122A000001MOarQAG</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_1_A1</targetReference>
            </connector>
            <label>GO!</label>
        </rules>
    </decisions>
    <description>For G100C Mid-Year</description>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>
CASE([Year_end_Review__c].Manager__c ,
&quot;Oka, Aparna&quot; , &quot;005F0000002Lf0I&quot;, 
&quot;Burke, Ashley&quot; , &quot;005F0000002U9lK&quot;, 
&quot;Houser, Dan&quot; , &quot;005F0000002Lf0I&quot;, 
&quot;Niles, Dave&quot; , &quot;005F0000002TgCk&quot;, 
&quot;Meil, Jason&quot; , &quot;005F0000002tkLr&quot;, 
&quot;Silvers, Jennifer&quot; ,  &quot;005F0000002Lf0I&quot;, 
&quot;Schiele, Kim&quot; , &quot;005F0000002Lf0I&quot;, 
&quot;Makhmali, Nika&quot; , &quot;005F0000002U9lK&quot;, 
&quot;Thangavelsamy, Raj&quot; , &quot;005F0000002Lf0I&quot;, 
&quot;Miller, Scott&quot; , &quot;005F0000002TgCk&quot;, 
&quot;Madden, Tricia&quot; , &quot;005F0000003FDy3&quot;, 
&quot;Randeria, Sonal&quot; , &quot;0052A000009xkDp&quot; , 
&quot;Lambert, Eddie&quot; , &quot;005F0000002Lf0I&quot; , 
&quot;005F0000003FDy3&quot;)</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_2_myRule_1_A2_3129566039</name>
        <dataType>String</dataType>
        <expression>
CASE({!myVariable_current.Manager__c} ,
&quot;Oka, Aparna&quot; , &quot;005F0000002Lf0I&quot;, 
&quot;Burke, Ashley&quot; , &quot;005F0000002U9lK&quot;, 
&quot;Houser, Dan&quot; , &quot;005F0000002Lf0I&quot;, 
&quot;Niles, Dave&quot; , &quot;005F0000002TgCk&quot;, 
&quot;Meil, Jason&quot; , &quot;005F0000002tkLr&quot;, 
&quot;Silvers, Jennifer&quot; ,  &quot;005F0000002Lf0I&quot;, 
&quot;Schiele, Kim&quot; , &quot;005F0000002Lf0I&quot;, 
&quot;Makhmali, Nika&quot; , &quot;005F0000002U9lK&quot;, 
&quot;Thangavelsamy, Raj&quot; , &quot;005F0000002Lf0I&quot;, 
&quot;Miller, Scott&quot; , &quot;005F0000002TgCk&quot;, 
&quot;Madden, Tricia&quot; , &quot;005F0000003FDy3&quot;, 
&quot;Randeria, Sonal&quot; , &quot;0052A000009xkDp&quot; , 
&quot;Lambert, Eddie&quot; , &quot;005F0000002Lf0I&quot; , 
&quot;005F0000003FDy3&quot;)</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>
CASE([Year_end_Review__c].Manager__c ,
&quot;Oka, Aparna&quot; , &quot;0052A000007ur56&quot;, 
&quot;Burke, Ashley&quot; , &quot;005F0000002U9lK&quot;, 
&quot;Houser, Dan&quot; , &quot;005F0000007fbIX&quot;, 
&quot;Niles, Dave&quot; , &quot;005F0000002TgCk&quot;, 
&quot;Meil, Jason&quot; , &quot;005F0000002tkLr&quot;, 
&quot;Silvers, Jennifer&quot; ,  &quot;005F0000002rdHa&quot;,  
&quot;Schiele, Kim&quot; , &quot;005F0000002Lf0I&quot;, 
&quot;Makhmali, Nika&quot; , &quot;005F0000002H4MV&quot;, 
&quot;Thangavelsamy, Raj&quot; , &quot;005F0000003FE0r&quot;, 
&quot;Miller, Scott&quot; , &quot;005F0000002tkLY&quot;, 
&quot;Madden, Tricia&quot; , &quot;005F0000003FDy3&quot;, 
&quot;Randeria, Sonal&quot; , &quot;0052A000009xkDp&quot; , 
&quot;Lambert, Eddie&quot; , &quot;0052A000009xwSm&quot; , 
&quot;005F0000003FDy3&quot;)</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_3_myRule_1_A1_9105695903</name>
        <dataType>String</dataType>
        <expression>
CASE({!myVariable_current.Manager__c} ,
&quot;Oka, Aparna&quot; , &quot;0052A000007ur56&quot;, 
&quot;Burke, Ashley&quot; , &quot;005F0000002U9lK&quot;, 
&quot;Houser, Dan&quot; , &quot;005F0000007fbIX&quot;, 
&quot;Niles, Dave&quot; , &quot;005F0000002TgCk&quot;, 
&quot;Meil, Jason&quot; , &quot;005F0000002tkLr&quot;, 
&quot;Silvers, Jennifer&quot; ,  &quot;005F0000002rdHa&quot;,  
&quot;Schiele, Kim&quot; , &quot;005F0000002Lf0I&quot;, 
&quot;Makhmali, Nika&quot; , &quot;005F0000002H4MV&quot;, 
&quot;Thangavelsamy, Raj&quot; , &quot;005F0000003FE0r&quot;, 
&quot;Miller, Scott&quot; , &quot;005F0000002tkLY&quot;, 
&quot;Madden, Tricia&quot; , &quot;005F0000003FDy3&quot;, 
&quot;Randeria, Sonal&quot; , &quot;0052A000009xkDp&quot; , 
&quot;Lambert, Eddie&quot; , &quot;0052A000009xwSm&quot; , 
&quot;005F0000003FDy3&quot;)</expression>
    </formulas>
    <interviewLabel>Performance_Management_G100C_Year_End_Record_Update-6_InterviewLabel</interviewLabel>
    <label>Performance Management - G100C Mid-Year Record Update</label>
    <processMetadataValues>
        <name>ObjectType</name>
        <value>
            <stringValue>Year_end_Review__c</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>ObjectVariable</name>
        <value>
            <elementReference>myVariable_current</elementReference>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OldObjectVariable</name>
        <value>
            <elementReference>myVariable_old</elementReference>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>RecursiveCountVariable</name>
        <value>
            <elementReference>RecursiveCountVariable</elementReference>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>TriggerType</name>
        <value>
            <stringValue>onAllChanges</stringValue>
        </value>
    </processMetadataValues>
    <processType>Workflow</processType>
    <recordUpdates>
        <processMetadataValues>
            <name>evaluationType</name>
            <value>
                <stringValue>always</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>extraTypeInfo</name>
        </processMetadataValues>
        <processMetadataValues>
            <name>isChildRelationship</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>reference</name>
            <value>
                <stringValue>[Year_end_Review__c]</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>referenceTargetField</name>
        </processMetadataValues>
        <name>myRule_1_A1</name>
        <label>Update Performance Lead (USER)</label>
        <locationX>100</locationX>
        <locationY>200</locationY>
        <connector>
            <targetReference>myRule_1_A2</targetReference>
        </connector>
        <filters>
            <processMetadataValues>
                <name>implicit</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </processMetadataValues>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>ID</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Performance Lead (User)</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <field>Performance_Lead_User__c</field>
            <value>
                <elementReference>formula_3_myRule_1_A1_9105695903</elementReference>
            </value>
        </inputAssignments>
        <object>Year_end_Review__c</object>
    </recordUpdates>
    <recordUpdates>
        <processMetadataValues>
            <name>evaluationType</name>
            <value>
                <stringValue>always</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>extraTypeInfo</name>
        </processMetadataValues>
        <processMetadataValues>
            <name>isChildRelationship</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>reference</name>
            <value>
                <stringValue>[Year_end_Review__c]</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>referenceTargetField</name>
        </processMetadataValues>
        <name>myRule_1_A2</name>
        <label>Update Managing Director (User)</label>
        <locationX>100</locationX>
        <locationY>300</locationY>
        <filters>
            <processMetadataValues>
                <name>implicit</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </processMetadataValues>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>ID</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Managing Director (User)</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <field>Managing_Director_User__c</field>
            <value>
                <elementReference>formula_2_myRule_1_A2_3129566039</elementReference>
            </value>
        </inputAssignments>
        <object>Year_end_Review__c</object>
    </recordUpdates>
    <startElementReference>myDecision</startElementReference>
    <status>Draft</status>
    <variables>
        <name>myVariable_current</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Year_end_Review__c</objectType>
    </variables>
    <variables>
        <name>myVariable_old</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Year_end_Review__c</objectType>
    </variables>
    <variables>
        <name>RecursiveCountVariable</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
</Flow>
