force-app/main/default/flows/TMG_Coaching_Slide_Updater.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <processMetadataValues>
            <name>emailAlertSelection</name>
            <value>
                <stringValue>TMG_Coaching_Slide_contact_ISBLANK</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_7_A1</name>
        <label>Email EA</label>
        <locationX>700</locationX>
        <locationY>200</locationY>
        <actionName>TMG_Coaching_Slides__c.TMG_Coaching_Slide_contact_ISBLANK</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>myDecision8</targetReference>
        </connector>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <processMetadataValues>
            <name>emailAlertSelection</name>
            <value>
                <stringValue>TMG_Coaching_Plan_sent</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_9_A1</name>
        <label>Email EA</label>
        <locationX>900</locationX>
        <locationY>200</locationY>
        <actionName>TMG_Coaching_Slides__c.TMG_Coaching_Plan_sent</actionName>
        <actionType>emailAlert</actionType>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <assignments>
        <name>myVariable_waitStartTimeAssignment</name>
        <label>myVariable_waitStartTimeAssignment</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>myVariable_waitStartTimeVariable</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>myDecision</targetReference>
        </connector>
    </assignments>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision</name>
        <label>myDecision</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myDecision4</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_1</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_1_A1</targetReference>
            </connector>
            <label>IS NEW</label>
        </rules>
    </decisions>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision4</name>
        <label>myDecision4</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myDecision6</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_5</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <processMetadataValues>
                    <name>inputDataType</name>
                    <value>
                        <stringValue>ID</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>leftHandSideReferenceTo</name>
                    <value>
                        <stringValue>User</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>leftHandSideType</name>
                    <value>
                        <stringValue>ID</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>operatorDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>rightHandSideType</name>
                    <value>
                        <stringValue>ID</stringValue>
                    </value>
                </processMetadataValues>
                <leftValueReference>myVariable_current.CreatedById</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>005F0000002wsZjIAI</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <processMetadataValues>
                    <name>inputDataType</name>
                    <value>
                        <stringValue>Boolean</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>leftHandSideType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>operatorDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>rightHandSideType</name>
                    <value>
                        <stringValue>Boolean</stringValue>
                    </value>
                </processMetadataValues>
                <leftValueReference>myVariable_current.To__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_5_A1</targetReference>
            </connector>
            <label>IS NOT Appirio - TO Blank</label>
        </rules>
    </decisions>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>2.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision6</name>
        <label>myDecision6</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myDecision8</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_7</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <processMetadataValues>
                    <name>inputDataType</name>
                    <value>
                        <stringValue>Boolean</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>leftHandSideReferenceTo</name>
                    <value>
                        <stringValue>Contact</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>leftHandSideType</name>
                    <value>
                        <stringValue>ID</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>operatorDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>rightHandSideType</name>
                    <value>
                        <stringValue>Boolean</stringValue>
                    </value>
                </processMetadataValues>
                <leftValueReference>myVariable_current.Contact__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_7_A1</targetReference>
            </connector>
            <label>Contact ISBLANK</label>
        </rules>
    </decisions>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>3.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision8</name>
        <label>myDecision8</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_9</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <processMetadataValues>
                    <name>inputDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>leftHandSideType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>operatorDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>rightHandSideType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <leftValueReference>myVariable_current.Name</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>FEEDBACK_</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_9_A1</targetReference>
            </connector>
            <label>IS Feedback Plan</label>
        </rules>
    </decisions>
    <description>Updates To and Contact fields on manually created TMG Coaching Slide records</description>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>IF([TMG_Coaching_Slides__c].From__c =&quot;Stephen Miles&quot;, &quot;005F0000007z8gY&quot;, IF([TMG_Coaching_Slides__c].From__c =&quot;William Stern&quot;, &quot;0052A000009LkZy&quot;, IF([TMG_Coaching_Slides__c].From__c =&quot;Taylor Griffin&quot;, &quot;005F0000007fbLb&quot;, IF([TMG_Coaching_Slides__c].From__c =&quot;Matthew Bedwell&quot;, &quot;005F0000007z8gY&quot;, IF([TMG_Coaching_Slides__c].From__c =&quot;Courtney Hamilton&quot;, &quot;005F0000004WjH1&quot;, IF([TMG_Coaching_Slides__c].From__c =&quot;John Nasr&quot;, &quot;005F0000007z8gY&quot;, IF([TMG_Coaching_Slides__c].From__c =&quot;Stephanie Loquvam&quot;, &quot;0052A000008OWks&quot;, IF([TMG_Coaching_Slides__c].From__c =&quot;Jennifer Baer&quot;, &quot;0052A000008OWks&quot;, IF([TMG_Coaching_Slides__c].From__c =&quot;Elizabeth Kelly&quot;, &quot;0052A000008OWks&quot;, IF([TMG_Coaching_Slides__c].From__c =&quot;Anne Orcutt&quot;, &quot;005F0000007z8gY&quot;, IF([TMG_Coaching_Slides__c].From__c =&quot;Jeff Jones&quot;, &quot;005F0000004WjH1&quot;,&quot;&quot;)))))))))))</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_2_myRule_1_A1_1089477514</name>
        <dataType>String</dataType>
        <expression>IF({!myVariable_current.From__c} =&quot;Stephen Miles&quot;, &quot;005F0000007z8gY&quot;, IF({!myVariable_current.From__c} =&quot;William Stern&quot;, &quot;0052A000009LkZy&quot;, IF({!myVariable_current.From__c} =&quot;Taylor Griffin&quot;, &quot;005F0000007fbLb&quot;, IF({!myVariable_current.From__c} =&quot;Matthew Bedwell&quot;, &quot;005F0000007z8gY&quot;, IF({!myVariable_current.From__c} =&quot;Courtney Hamilton&quot;, &quot;005F0000004WjH1&quot;, IF({!myVariable_current.From__c} =&quot;John Nasr&quot;, &quot;005F0000007z8gY&quot;, IF({!myVariable_current.From__c} =&quot;Stephanie Loquvam&quot;, &quot;0052A000008OWks&quot;, IF({!myVariable_current.From__c} =&quot;Jennifer Baer&quot;, &quot;0052A000008OWks&quot;, IF({!myVariable_current.From__c} =&quot;Elizabeth Kelly&quot;, &quot;0052A000008OWks&quot;, IF({!myVariable_current.From__c} =&quot;Anne Orcutt&quot;, &quot;005F0000007z8gY&quot;, IF({!myVariable_current.From__c} =&quot;Jeff Jones&quot;, &quot;005F0000004WjH1&quot;,&quot;&quot;)))))))))))</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>IF([TMG_Coaching_Slides__c].From__c =&quot;Stephen Miles&quot;, &quot;005F0000002tkLsIAI&quot;, IF([TMG_Coaching_Slides__c].From__c =&quot;William Stern&quot;, &quot;0052A0000095Be9QAE&quot;, IF([TMG_Coaching_Slides__c].From__c =&quot;Taylor Griffin&quot;, &quot;005F0000002tkLfIAI&quot;, IF([TMG_Coaching_Slides__c].From__c =&quot;Matthew Bedwell&quot;, &quot;005F0000003iIekIAE&quot;, IF([TMG_Coaching_Slides__c].From__c =&quot;Courtney Hamilton&quot;, &quot;005F0000002tkLhIAI&quot;, IF([TMG_Coaching_Slides__c].From__c =&quot;John Nasr&quot;, &quot;005F0000005tXxHIAU&quot;, IF([TMG_Coaching_Slides__c].From__c =&quot;Stephanie Loquvam&quot;, &quot;0052A000007vFcEQAU&quot;, IF([TMG_Coaching_Slides__c].From__c =&quot;Jennifer Baer&quot;, &quot;005F0000005DpbPIAS&quot;, IF([TMG_Coaching_Slides__c].From__c =&quot;Elizabeth Kelly&quot;, &quot;0052A0000095dKvQAI&quot;, IF([TMG_Coaching_Slides__c].From__c =&quot;Anne Orcutt&quot;, &quot;0052A000009LNcoQAG&quot;, IF([TMG_Coaching_Slides__c].From__c =&quot;Jeff Jones&quot;, &quot;005F0000002tkLkIAI&quot;,&quot;&quot;)))))))))))</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_3_myRule_1_A1_3780261975</name>
        <dataType>String</dataType>
        <expression>IF({!myVariable_current.From__c} =&quot;Stephen Miles&quot;, &quot;005F0000002tkLsIAI&quot;, IF({!myVariable_current.From__c} =&quot;William Stern&quot;, &quot;0052A0000095Be9QAE&quot;, IF({!myVariable_current.From__c} =&quot;Taylor Griffin&quot;, &quot;005F0000002tkLfIAI&quot;, IF({!myVariable_current.From__c} =&quot;Matthew Bedwell&quot;, &quot;005F0000003iIekIAE&quot;, IF({!myVariable_current.From__c} =&quot;Courtney Hamilton&quot;, &quot;005F0000002tkLhIAI&quot;, IF({!myVariable_current.From__c} =&quot;John Nasr&quot;, &quot;005F0000005tXxHIAU&quot;, IF({!myVariable_current.From__c} =&quot;Stephanie Loquvam&quot;, &quot;0052A000007vFcEQAU&quot;, IF({!myVariable_current.From__c} =&quot;Jennifer Baer&quot;, &quot;005F0000005DpbPIAS&quot;, IF({!myVariable_current.From__c} =&quot;Elizabeth Kelly&quot;, &quot;0052A0000095dKvQAI&quot;, IF({!myVariable_current.From__c} =&quot;Anne Orcutt&quot;, &quot;0052A000009LNcoQAG&quot;, IF({!myVariable_current.From__c} =&quot;Jeff Jones&quot;, &quot;005F0000002tkLkIAI&quot;,&quot;&quot;)))))))))))</expression>
    </formulas>
    <formulas>
        <name>formula_myRule_1</name>
        <dataType>Boolean</dataType>
        <expression>true</expression>
    </formulas>
    <interviewLabel>TMG_Coaching_Slide_Updater-6_InterviewLabel</interviewLabel>
    <label>TMG Coaching Slide Updater</label>
    <processMetadataValues>
        <name>ObjectType</name>
        <value>
            <stringValue>TMG_Coaching_Slides__c</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>ObjectVariable</name>
        <value>
            <elementReference>myVariable_current</elementReference>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OldObjectVariable</name>
        <value>
            <elementReference>myVariable_old</elementReference>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>TriggerType</name>
        <value>
            <stringValue>onCreateOnly</stringValue>
        </value>
    </processMetadataValues>
    <processType>Workflow</processType>
    <recordUpdates>
        <processMetadataValues>
            <name>evaluationType</name>
            <value>
                <stringValue>always</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>extraTypeInfo</name>
        </processMetadataValues>
        <processMetadataValues>
            <name>isChildRelationship</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>reference</name>
            <value>
                <stringValue>[TMG_Coaching_Slides__c]</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>referenceTargetField</name>
        </processMetadataValues>
        <name>myRule_1_A1</name>
        <label>Update TMG EA</label>
        <locationX>100</locationX>
        <locationY>200</locationY>
        <connector>
            <targetReference>myDecision4</targetReference>
        </connector>
        <filters>
            <processMetadataValues>
                <name>implicit</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </processMetadataValues>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>ID</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>From</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue>User</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <field>From_LU__c</field>
            <value>
                <elementReference>formula_3_myRule_1_A1_3780261975</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>ID</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>TMG EA</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue>User</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <field>TMG_EA__c</field>
            <value>
                <elementReference>formula_2_myRule_1_A1_1089477514</elementReference>
            </value>
        </inputAssignments>
        <object>TMG_Coaching_Slides__c</object>
    </recordUpdates>
    <recordUpdates>
        <processMetadataValues>
            <name>evaluationType</name>
            <value>
                <stringValue>always</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>extraTypeInfo</name>
        </processMetadataValues>
        <processMetadataValues>
            <name>isChildRelationship</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>reference</name>
            <value>
                <stringValue>[TMG_Coaching_Slides__c]</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>referenceTargetField</name>
        </processMetadataValues>
        <name>myRule_5_A1</name>
        <label>Update TO</label>
        <locationX>500</locationX>
        <locationY>200</locationY>
        <filters>
            <processMetadataValues>
                <name>implicit</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </processMetadataValues>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>To</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue/>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Reference</stringValue>
                </value>
            </processMetadataValues>
            <field>To__c</field>
            <value>
                <elementReference>myVariable_current.Contact__r.Email</elementReference>
            </value>
        </inputAssignments>
        <object>TMG_Coaching_Slides__c</object>
    </recordUpdates>
    <startElementReference>myVariable_waitStartTimeAssignment</startElementReference>
    <status>Active</status>
    <variables>
        <name>myVariable_current</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>TMG_Coaching_Slides__c</objectType>
    </variables>
    <variables>
        <name>myVariable_old</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>TMG_Coaching_Slides__c</objectType>
    </variables>
    <variables>
        <name>myVariable_waitStartTimeVariable</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>$Flow.CurrentDateTime</elementReference>
        </value>
    </variables>
</Flow>
